<% title "DreamFunded | Press" %>


<div class="news">
    <div class="container">
        <div class="news__title">
            <h2>DreamFunded in Press</h2>
        </div>
        <div class="news__list">
            <% @press_posts.each do |post| %>
              <div class="news__it clearfix">
                  <%= link_to image_tag(post.image.url, class: 'press-image' ), post.url, target: '_blank', class: "news__it__img ofit-block" %>
                  <div class="news__it__title"><%= link_to post.name, post.url, target: '_blank' %></div>
                  <div class="news__it__txt">
                      <%= post.quote %>
                  </div>
                  <br>
                  <div class="press-post-item press-date"><%= post.date.strftime("%b %e %Y") %></div>

                  <div class='admin-links-press-post'>
                    <% if current_user != nil && current_user.authority == authority[:Admin] %>
                      <%= link_to 'Edit', edit_press_post_path(post) %>
                      <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
                    <% end %>
                  </div>
              </div>
            <% end %>
        </div>

        <% if current_user != nil && current_user.authority == authority[:Admin] %>
          <div class='event'>
            <%= link_to 'New Press Post', new_press_post_path, class: 'centered add-new-event' %>
          </div>
        <% end %>
    </div>
</div>

<script type="text/javascript">
    $('header').addClass('__white');
</script>
