<% title "DreamFunded | Education " %>

<div class="profile">
  <div class="container clearfix">
    <div class="profile__sidebar"><a href="#" class="profile__sidebar__mob visible-xs">For Investors:<i>The Basics</i></a>
      <div class="profile__sidebar__inn">
        <div class="profile__sidebar__block">
          <div class="profile__sidebar__title"><span>For Investors</span></div>
          <ul class="reset-list">
            <li><a href="/education/investors-basics">The Basics</a></li>
            <li><a href="/education/investors-important-terms">Important Terms</a></li>
            <li><a href="/education/investing-tips">Investing Tips & Strategies</a></li>
            <li><a href="/education/taxes-gains">Taxes & Gains</a></li>
            <li><a href="/education/investor-qa">Q&A</a></li>
          </ul>
        </div>
        <div class="profile__sidebar__block">
          <div class="profile__sidebar__title"><span>For Startups</span></div>
          <ul class="reset-list">
            <li><a href="/education/startup-basics">The Basics</a></li>
            <li><a href="/education/startups-important-terms">Important Terms</a></li>
            <li><a href="/education/fund_raising_guide">Fund Raising Guide</a></li>
            <li  class="active"><a href="/education/jobs_act">J.O.B.S. Act</a></li>
            <li><a href="/education/employee-qa">Q&A</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="profile__content">
      <div class="myprofile">
        <div class="myprofile__breads">
          <ul class="reset-list">
            <li><a href="#">Investing 101</a></li>
            <li>Startups</li>
            <li>J.O.B.S. Act</li>
          </ul>
        </div>
        <div class="myprofile__title">
          <h2>The Basics</h2>
        </div>
        <div class="educationInn">
          <% @posts.each do |post|%>
            <% if current_user != nil && current_user.authority >= authority[:Editor] %>
              <%= button_to "Delete", {:controller => :posts,  :action => 'destroy', :id => post.id }, :method => :delete, class: 'float-rigth' %>
              <%= link_to 'Edit', "/posts/#{post.id}/edit/basics", {:class => 'right'} %>
            <% end %>
            <h3><%= post.title %></h3>
            <p> <%= post.content.html_safe %> </p>
          <% end %>

          <% if current_user != nil && current_user.authority >= authority[:Editor] %>
              <h3><%= link_to 'Create New', "/posts/new/basics" %></h3>
            <% end %>

        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $('header').addClass('__white');
</script>
