<div class= "word-content">
    <div class= "text-content centered">
        <h1>Editing group</h1>
        <div class='notice'><%= flash[:error] %></div>
        <%= form_for GroupAdmin.new, :url => {:action => "add_group_admin"}  do |f| %>

          <div class="field">
            <%= f.label :email %><br>
            <%= f.text_field :email, class: 'form-field form-field-half' %>
          </div>
          <div class="field">
            <%= f.label :name %><br>
            <%= f.text_field :name, class: 'form-field form-field-half' %>
          </div>
          <div class="field">
            <%= f.label :bio %><br>
            <%= f.text_area :bio, class: 'form-field form-field-half' %>
          </div>
          <div class="field">
            <%= f.label :photo %><br>
            <%= f.file_field :photo %>
          </div>

          <div class="actions">
            <%= f.submit "Create", class: 'company-button join-group-button mail-to-button invt-fr-btn' %>
          </div>
        <% end %>

        <br>
        <div class='companies-endorsed'>Group Admins</div>
        <% @group.group_admins.each do |admin| %>
          <div><%= admin.name%></div>
          <%= button_to 'Remove', "/delete_group_admin/#{admin.id}", params: {'id' => @group.id} %>

        <% end %>

    </div>
</div>

