<% title "DreamFunded | #{@group.name}" %>


<% facebook_og_title ("Invest in #{@group.name} on DreamFunded.com") %>
<% facebook_url("https://dreamfunded.com/companies/#{@group.name}")%>

<% facebook_image @group.background.url %>
<% facebook_secure_image @group.background.url %>
<% twitter_image @group.background.url %>



    <section class='group-cover-photo' style="background-image:url(<%= @group.background.url %>)" >

        <div class='group-opacity-on-background'>
        </div>

        <div class='company-profile-bottom-line group-description-margin'>
            <%= image_tag( @group.image.url, class: 'image-max-width company-logo')%>
            <section class='company-basic-info'>
                <div>   <%= @group.name %>  </div>
                <div class='company-slogan'>    <%= @group.description %>  </div>
                <div class='number-of-members'> <%= @group.member %> members</div>
            </section>
        </div>

        <div class='group-info-right-panel'>
            <div class='fund-america-invest-button'>
                <% if current_user %>
                    <% if @group.users.include?(current_user) %>
                        <%= link_to "Member", '#', class: 'company-button join-group-button mail-to-button'  %>
                    <% else %>
                        <%= link_to "Join Group", join_group_path(@group), class: 'company-button join-group-button mail-to-button' %>
                    <% end %>
                <% else %>
                    <%= link_to "Join Group", join_group_path(@group), class: 'company-button join-group-button mail-to-button' %>
                <% end %>
            </div>
        </div>
    </section>

    <div class='group-blog-section'>
        <div class=" stretch">
            <!-- A D M I N   E D I T I N G -->
            <div class='group-admin-editing'>
                <% if current_user != nil && current_user.authority == authority[:Admin] %>
                    <%= link_to( edit_group_path(@group), class: 'edit-company-button' ) do %>
                       <i class="fa fa-cogs" aria-hidden="true"></i>
                       <span class='edit-my-company-button'> Edit Group</span>
                    <% end %>
                    <br>
                    <%= link_to( add_admin_to_group_path(@group), class: 'edit-company-button' ) do %>
                       <i class="fa fa-users" aria-hidden="true"></i>
                       <span class='edit-my-company-button'> Add Admin</span>
                    <% end %>
                <% end %>
            </div>

            <h2 class='section-title group-tab'>Group Blog</h2>
            <div>
                <section class= "group-box">

                    <!-- <h2 class='section-title '>Discussion</h2> -->

                    <div class= "news-container">
                        <% @posts.each do |article| %>
                            <div class= "group-blog_wrapper">
                                <% if current_user != nil && current_user.authority >= authority[:Editor] %>
                                    <%= link_to 'Delete', article, method: :delete, data: { confirm: 'Are you sure?'}, :class => 'right red_link' %>
                                    <%= link_to 'Edit', "/posts/#{article.id}/edit/group", {:class => 'right red_link'} %>
                                <% end %>


                                <div class= "">
                                    <div class= "group-blog-title"> <%= article.title %> </div>
                                    <div class= "blog_content">
                                        <%= article.content.first(300).html_safe %>...
                                        <%= link_to "Read more", blog_post_path(article) %>
                                    </div>
                                    <div class="press-post-item press-date">
                                        <%= article.created_at.strftime("%b %e %Y") %>
                                    </div>
                                    <!-- <div class='news-read-more-buton'>
                                        <%#= link_to "Read More", blog_post_path(article), :class =>'article-button' %>
                                    </div> -->
                                </div>
                            </div>
                        <% end %>
                        <% if current_user != nil && current_user.authority >= authority[:Editor] %>
                            <h3 class='centered'><%= link_to 'Write New Group Post', "/posts/new/#{@group.slug}" %></h3>
                        <% end %>
                    </div>
                </section>

                <section class="group-members-box">
                    <div class='group-members-header'>Group Admins</div>
                    <div class='group-admins-list'>
                        <% @admins.each do |admin| %>
                            <span class='group-admin'>
                                <%= image_tag( admin.photo(:thumbnail), class: 'group-admin-photo') %><br>
                                <span class='group-admin-name'> <%= admin.name %> </span>

                                <div class='group-admin-box'>
                                    <section class='group-admin-box-photo'>
                                        <%= image_tag( admin.photo(:thumbnail), class: 'group-admin-photo') %>
                                    </section>
                                    <section class='group-admin-box-text'>
                                        <div class='group-admin-name bold-name centered'> <%= admin.name %> </div>
                                        <span class='group-admin-name'> <%= admin.bio %> </span>
                                    </section>
                                </div>
                            </span>
                        <% end%>
                    </div>
                    <%= link_to "Invite Friend", "#", class: 'company-button join-group-button mail-to-button invt-fr-btn' %>
                </section>
            </div>
        </div>
    </div>


    <a href="#invite-dialog" class="modalLink"> Invite Friend </a>
    <div id="modal">
        <div id="invite-dialog" class="window invite-to-group">
            <div class="contents">
                <div class='close-icon'>
                    <a href="#" class="close"><i class="fa fa-times"></i></a>
                </div>
                <h3>Invite Friend </h3>
                <!-- <hr class='line-verify-modal'> -->
                <%= form_for GroupInvite.new, url: invite_to_group_path do |f| %>
                    <%= f.hidden_field(:group_id, value: @group.id) %>
                    <%= f.text_field(:name, :placeholder => "Name", :class => "form-field") %>
                    <%= f.text_field(:email, :placeholder => "Email", :class => "form-field") %>
                    <%= f.submit "Invite", class: "company-button join-group-button" %>
                <% end %>
            </div>
        </div>
    </div>



<script>
    // run when page is ready
    $('.invt-fr-btn').click(function(){

        // create variable to hold the current modal window
        var activeWindow;

            // cancel the default link behaviour

            // find the href of the link that was clicked to use as an id
            var id = '#invite-dialog'
            console.log(id);
            // assign the window with matching id to the activeWindow variable, move it to the center of the screen and fade in
            activeWindow = $('.window' + id)
                .css('opacity', '0') // set to an initial 0 opacity
                .css('top', '30%') // position vertically at 50%
                .css('left', '32%') // position horizontally at 50%
                .fadeTo(500, 1); // fade to an opacity of 1 (100%) over 500 milliseconds

            // create blind and fade in
            $('#modal')
                .append('<div id="blind" />') // create a <div> with an id of 'blind'
                .find('#blind') // select the div we've just created
                .css('opacity', '0') // set the initial opacity to 0
                .fadeTo(500, 0.8) // fade in to an opacity of 0.8 (80%) over 500 milliseconds
                .click(function(e){
                    closeModal(); // close modal if someone clicks anywhere on the blind (outside of the window)
                });

        $('a.close').click(function(e){
                // cancel default behaviour
                e.preventDefault();
                // call the closeModal function passing this close button's window
                closeModal();
        });
        function closeModal()
        {
            // fade out window and then move back to off screen when fade completes
            activeWindow.fadeOut(250, function(){ $(this).css('top', '-1000px').css('left', '-1000px'); });
            // fade out blind and then remove it
            $('#blind').fadeOut(250,    function(){ $(this).remove(); });
        }
      // close NewsLetter Subscription Box
    });
</script>
