<% title "DreamFunded | #{@group.name}" %>


<% facebook_og_title ("Invest in #{@group.name} on DreamFunded.com") %>
<% facebook_url("https://dreamfunded.com/companies/#{@group.name}")%>

<% facebook_image @group.background.url %>
<% facebook_secure_image @group.background.url %>
<% twitter_image @group.background.url %>


<!-- <div style="background-image: url(<%= @group.background.url %>)" class="pageTopBlock group-top-block">
    <div class='dark-opacity'></div>

    <div class='group-top-info-position'>
        <div class='container'>
            <div class='group-first-block'>
                        <%= image_tag( @group.image.url )%>
                        <h1 class='group-name'>  <%= @group.name %>  </h1>
                        <h3 class='group-descr'>  <%= @group.description %>  </h3>
                        <h3 class='group-descr'>  <%= number_with_delimiter @group.member %> members</h3>
            </div>
            <div class='group-second-block'>
                <div>
                        <%= link_to "Member", '#', class: 'btn btn-blue'  %>
                </div>
            </div>
        </div>
    </div>
</div> -->

<section class='group-cover-photo' style="background-image:url(<%= @group.background.url %>)" >
<div class='dark-opacity'></div>

    <div class='company-profile-bottom-line group-description-margin'>
        <section class='company-basic-info'>
            <%#= image_tag( @group.image.url, class: 'image-max-width company-logo group-logo')%>
            <div>   <%= @group.name %>  </div>
            <div class='company-slogan'>    <%= @group.description %>  </div>
            <div class='number-of-members'> <%= number_with_delimiter @group.member %> members</div>
        </section>
    </div>

    <div class='group-info-right-panel'>
        <div class='fund-america-invest-button'>
            <% if current_user %>
                <% if @group.users.include?(current_user) %>
                    <%= link_to "Member", '#', class: 'btn btn-blue'  %>
                <% else %>
                    <%= link_to "Join Group", join_group_path(@group), class: 'btn btn-blue' %>
                <% end %>
            <% else %>
                <%= link_to "Join Group", join_group_path(@group), class: 'btn btn-blue' %>
            <% end %>
        </div>
    </div>
</section>

    <div class='group-blog-section'>
        <div class=" stretch">
            <!-- A D M I N   E D I T I N G -->
            <div class='group-admin-editing hide-on-mobile'>
                <% if current_user != nil && current_user.authority == authority[:Admin] %>
                    <%= link_to( edit_group_path(@group), class: 'edit-company-button' ) do %>
                       <i class="fa fa-cogs" aria-hidden="true"></i>
                       <span class='edit-my-company-button'> Edit Group</span>
                    <% end %>
                    <br>
                    <%= link_to( add_admin_to_group_path(@group), class: 'edit-company-button' ) do %>
                       <i class="fa fa-users" aria-hidden="true"></i>
                       <span class='edit-my-company-button'>  Admins </span>
                    <% end %>
                    <br>
                    <%= link_to( group_members_path(@group), class: 'edit-company-button' ) do %>
                       <i class="fa fa-address-book-o" aria-hidden="true"></i>
                       <span class='edit-my-company-button'> Members</span>
                    <% end %>
                    <br>
                    <%= link_to( group_companies_path(@group), class: 'edit-company-button' ) do %>
                       <i class="fa fa-university" aria-hidden="true"></i>
                       <span class='edit-my-company-button'> Companies</span>
                    <% end %>
                <% end %>
                <br>
                <% if current_user %>
                    <% if ( current_user.authority >= authority[:Editor]) || (@group.group_admins.include?(current_user.group_admin)) %>
                        <%= link_to( group_invites_path(@group), class: 'edit-company-button' ) do %>
                           <i class="fa fa-pencil-square-o " aria-hidden="true"></i>
                           <span class='edit-my-company-button'> Invite</span>
                        <% end %>
                    <% end %>
                <% end %>
            </div>

            <h2 class='section-title group-tab group-blog active-tab'>Group Blog</h2>
            <h2 class='section-title group-tab discussion-tab'>Discussion</h2>
            <% if @group.companies.any? %>
                <h2 class='section-title group-tab company-tab'>Companies</h2>
            <% end %>
            <div class='container'>
                <section class= "group-box col-md-8">

                    <div class= "news-container group-tab-content group-blog-content">
                        <% @posts.each do |article| %>
                            <div class= "group-blog_wrapper">
                                <% if current_user %>
                                    <% if ( current_user.authority >= authority[:Editor]) || (@group.group_admins.include?(current_user.group_admin)) %>
                                        <%= link_to 'Delete', article, method: :delete, data: { confirm: 'Are you sure?'}, :class => 'right red_link hide-on-mobile' %>
                                        <%= link_to 'Edit', "/posts/#{article.id}/edit/#{@group.slug}", {:"data-no-turbolink" => true, :class => 'right red_link hide-on-mobile'} %>
                                    <% end %>
                                <% end %>


                                <div class="some-class-rr">
                                    <div class= "group-blog-title"> <%= article.title %> </div>
                                    <div class= "group_blog_content">
                                        <div class='article-ctn'>
                                            <%= article.content.html_safe %>
                                        </div>
                                        <%#= link_to "Read more", blog_post_path(article) %>
                                    </div>
                                    <div class="press-post-item press-date">
                                        <%= article.created_at.strftime("%b %e %Y") %>
                                        <%= link_to "Show more", '#', class: 'read-more-link' %>
                                    </div>
                                    <!-- <div class='news-read-more-buton'>
                                        <%#= link_to "Read More", blog_post_path(article), :class =>'article-button' %>
                                    </div> -->
                                </div>

                            </div>
                        <% end %>
                        <%if current_user%>
                            <% if ( current_user.authority >= authority[:Editor]) || (@group.group_admins.include?(current_user.group_admin)) %>
                                <h3 class='centered hide-on-mobile'><%= link_to 'Write New Group Post', "/posts/new/#{@group.slug}" %></h3>
                            <% end %>
                        <% end %>
                    </div>

                    <div class=' group-tab-content discussion-tab-content'>
                        <div class='section-content'>
                            <div class="comments">
                               <%= nested_messages(@comments.arrange(:order => :created_at))%>
                            </div>
                            <div>
                                <% if current_user %>
                                    <div class="comment">
                                        <div class="headline">
                                            <span class="name">
                                                <span class='comment_as'>New comment as</span>
                                                <a><%= current_user.comments_name%></a>
                                            </span>
                                        </div>
                                        <div class="comment_content">
                                           <%= form_for Comment.new, remote: true  do |f|%>
                                                <%= f.hidden_field "user_id", value: current_user.id %>
                                                <%= f.hidden_field "group_id", value: @group.id %>
                                                <%= f.hidden_field :parent_id %>
                                                <div>
                                                   <%= f.text_area :content, rows: 8, class: 'comment_extarea' %>
                                                </div>
                                                <%= f.submit "Post Comment", class: 'comment_submit_button' %>
                                           <% end %>
                                        </div>
                                    </div>
                               <%else%>
                                     <p>First <%= link_to "sign in", "/users/sign_in" %> to post a comment.</p>
                               <%end%>
                            </div>
                        </div>
                    </div>


                    <div class=' group-tab-content company-tab-content'>
                        <div class='companies-endorsed'>Companies endorsed by <%= @group.name %></div>
                        <% @companies.each do |company| %>
                            <div class='property-box endorsed-company'>

                                <div class="card-topbar primary-color">
                                    <%= company.name %>
                                </div>

                                <div class='companies-back-image' style="background-image: url(<%= company.cover.url(:small) %>)">
                                    <div class='logo-image-wrapper'>
                                        <span class="helper"></span>
                                        <%= image_tag( company.image.url, :class => "property-logo-image") %>
                                    </div>
                                </div>


                                <article class='card-body no-height'>
                                    <div class='company-tagline'>
                                        <span class='company-tagline-text'><%= company.campaign.tagline %></span>
                                    </div>

                                    <div class='property-detail company-funded-status property-detail-no-height'>
                                        <span class='propety-detail-left'>Category</span>
                                        <span class='property-detail-right'><%= company.category %></span>
                                    </div>

                                    <div class='property-detail company-funded-status property-detail-no-height'>
                                        <span class='propety-detail-left'>Status</span>
                                        <span class='property-detail-right'>Funded </span>
                                    </div>

                                <div class='company-tagline funded-by-accredited'>
                                    <span class='company-tagline-text'>Funded by Accredited Investors using 506 (D)</span>
                                </div>

                                </article>
                            </div>
                        <% end %>
                    </div>

                </section>

                <div class='col-md-4'>
                    <section class="group-members-box">
                        <div class='group-members-header'>Group Admins</div>
                        <div class='group-admins-list'>
                            <% @admins.each do |admin| %>
                                <span class='group-admin'>
                                    <%= image_tag( admin.photo.url(:thumbnail), class: 'group-admin-photo') %><br>
                                    <span class='group-admin-name'> <%= admin.name %> </span>

                                    <div class='group-admin-box'>
                                        <section class='group-admin-box-photo'>
                                            <%= image_tag( admin.photo.url(:thumbnail), class: 'group-admin-photo') %>
                                        </section>
                                        <section class='group-admin-box-text'>
                                            <div class='group-admin-name bold-name centered'> <%= admin.name %> </div>
                                            <span class='group-admin-name'> <%= admin.bio %> </span>
                                        </section>
                                    </div>
                                </span>
                            <% end%>
                        </div>
                        <div class='text-center'>
                            <%= link_to "Invite Friend", "#", class: 'btn btn-blue' %>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>


    <a href="#invite-dialog" class="modalLink"> Invite Friend </a>
    <div id="modal">
        <div id="invite-dialog" class="window invite-to-group">
            <div class="contents">
                <div class='close-icon'>
                    <a href="#" class="close"><i class="fa fa-times"></i></a>
                </div>
                <h3>Invite Friend </h3>
                <%= form_for GroupInvite.new, url: invite_to_group_path do |f| %>
                    <%= f.hidden_field(:group_id, value: @group.id) %>
                    <%= f.text_field(:name, :placeholder => "Name", :class => "form-field") %>
                    <%= f.text_field(:email, :placeholder => "Email", :class => "form-field") %>
                    <%= f.submit "Invite", class: "company-button join-group-button" %>
                <% end %>
            </div>
        </div>
    </div>


    <div id="modal">
      <!-- First modal window -->
        <div id="soc-media-dialog" class="window">
            <div class="contents">
                <div class='close-icon'>
                    <a href="#" class="close"><i class="fa fa-times"></i></a>
                </div>
                <div class='section-title centered'>Invite people you know</div>

                <%= button_to  '/authenticate', class: 'invite-google-contacts', form: {target: '_blank'} do %>
                  Invite Contacts from Gmail  &nbsp;
                  <%= image_tag "static/gmail-icon.png", class: 'gmail-icon' %>
                <% end %>
                <br>

                <%= button_to  '/contacts/yahoo',method: 'get', class: 'invite-google-contacts', form: {target: '_blank'} do %>
                  Invite Contacts from Yahoo  &nbsp;
                  <%= image_tag "static/yahoo_logo.png", class: 'yahoo-icon' %>
                <% end %>
                <br>

                <%= button_to  '/contacts/outlook',method: 'get', class: 'invite-google-contacts', form: {target: '_blank'} do %>
                  Invite Contacts from Outlook
                  <%= image_tag "static/outlook.png", class: 'gmail-icon outlook-icon' %>
                <% end %>
            </div>
        </div>
    </div>


<script>
    // // run when page is ready
    // $('.invt-fr-btn').click(function(){

    //     // create variable to hold the current modal window
    //     var activeWindow;

    //         // cancel the default link behaviour

    //         // find the href of the link that was clicked to use as an id
    //         var id = '#invite-dialog'
    //         console.log(id);
    //         // assign the window with matching id to the activeWindow variable, move it to the center of the screen and fade in
    //         activeWindow = $('.window' + id)
    //             .css('opacity', '0') // set to an initial 0 opacity
    //             .css('top', '30%') // position vertically at 50%
    //             .css('left', '32%') // position horizontally at 50%
    //             .fadeTo(500, 1); // fade to an opacity of 1 (100%) over 500 milliseconds

    //         // create blind and fade in
    //         $('#modal')
    //             .append('<div id="blind" />') // create a <div> with an id of 'blind'
    //             .find('#blind') // select the div we've just created
    //             .css('opacity', '0') // set the initial opacity to 0
    //             .fadeTo(500, 0.8) // fade in to an opacity of 0.8 (80%) over 500 milliseconds
    //             .click(function(e){
    //                 closeModal(); // close modal if someone clicks anywhere on the blind (outside of the window)
    //             });

    //     $('a.close').click(function(e){
    //             // cancel default behaviour
    //             e.preventDefault();
    //             // call the closeModal function passing this close button's window
    //             closeModal();
    //     });
    //     function closeModal()
    //     {
    //         // fade out window and then move back to off screen when fade completes
    //         activeWindow.fadeOut(250, function(){ $(this).css('top', '-1000px').css('left', '-1000px'); });
    //         // fade out blind and then remove it
    //         $('#blind').fadeOut(250,    function(){ $(this).remove(); });
    //     }
    //   // close NewsLetter Subscription Box
    // });

    // // run when page is ready
    // $(document).ready(function(){

    //     // create variable to hold the current modal window
    //     var activeWindow;

    //         // cancel the default link behaviour

    //         // find the href of the link that was clicked to use as an id
    //         var id = '#soc-media-dialog'
    //         console.log(id);
    //         // assign the window with matching id to the activeWindow variable, move it to the center of the screen and fade in
    //         activeWindow = $('.window' + id)
    //             .css('opacity', '0') // set to an initial 0 opacity
    //             .css('top', '50%') // position vertically at 50%
    //             .css('left', '50%') // position horizontally at 50%
    //             .fadeTo(500, 1) // fade to an opacity of 1 (100%) over 500 milliseconds
    //             .hide();

    //         url = $(location).attr('href');
    //         if(url.includes("social-invite") ){
    //             activeWindow.show();
    //         }


    //         // create blind and fade in
    //         $('#modal')
    //             .append('<div id="blind" />') // create a <div> with an id of 'blind'
    //             .find('#blind') // select the div we've just created
    //             .css('opacity', '0') // set the initial opacity to 0
    //             // .fadeTo(500, 0.8) // fade in to an opacity of 0.8 (80%) over 500 milliseconds
    //             .click(function(e){
    //                 closeModal(); // close modal if someone clicks anywhere on the blind (outside of the window)
    //             });

    //     $('a.close').click(function(e){
    //             // cancel default behaviour
    //             e.preventDefault();
    //             // call the closeModal function passing this close button's window
    //             closeModal();
    //     });
    //     function closeModal()
    //     {
    //         // fade out window and then move back to off screen when fade completes
    //         activeWindow.fadeOut(250, function(){ $(this).css('top', '-1000px').css('left', '-1000px'); });
    //         // fade out blind and then remove it
    //         $('#blind').fadeOut(250,    function(){ $(this).remove(); });
    //     }
    //   // close NewsLetter Subscription Box
    // });
    //T A B S
    $(document).ready(function(){

        $('.group-blog').click(function(e){
            $('.group-tab-content').hide();
            $('.group-blog-content').show();
            $('.group-tab').removeClass('active-tab');
            $(".group-blog").addClass('active-tab');
        });

        $('.discussion-tab').click(function(e){
            $('.group-tab-content').hide();
            $('.discussion-tab-content').show();
            $('.group-tab').removeClass('active-tab');
            $('.discussion-tab').addClass('active-tab');
        });

        $('.company-tab').click(function(e){
            $('.group-tab-content').hide();
            $('.company-tab-content').show();
            $('.group-tab').removeClass('active-tab');
            $('.company-tab').addClass('active-tab');
        });

        $('.read-more-link').on('click', function(event) {

            if( $(this).hasClass('expanded') ){
                console.log('IF');
                $(this).parent().prev().css('height', 90);
                $(this).removeClass('expanded').text('Show more');
            }else{
                console.log('else');
                var height = $(this).parent().prev().find(".article-ctn").outerHeight() + 15;
                $(this).parent().prev().css('height', height);
                $(this).addClass('expanded').text('Show less');
            }

            event.preventDefault();
        });

    });

    $(".comments .reply_comment_button").click(function(e){
          e.preventDefault()
          $(this).parent().parent().parent().next().show();
    });
</script>
