<%= title "DreamFunded | Profile Edit" %>

<div class="profile __profile">
  <div class="container clearfix">
    <div class="profile__sidebar"><a href="#" class="profile__sidebar__mob visible-xs">My Profile</a>
      <div class="profile__sidebar__inn">
        <div class="profile__sidebar__block">
          <ul class="reset-list">
            <li><%= link_to "My Investments", portfolio_path %></li>
            <li><%= link_to "My Profile", profile_path %></li>
            <li><%= link_to "Edit Profile", edit_user_path(current_user) %></li>
            <li><%= link_to "Invite", invite_users_path %></li>
            <li class='active'><a href="#">Change Password</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="profile__content">
      <div class="myprofile">
        <div class="myprofile__title">
          <h2>Edit Profile</h2>
        </div>
        <div class="myprofile__edform">

            <% if @user.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

                <ul>
                <% @user.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
                </ul>
              </div>
            <% end %>

            <%= form_for(@user, :url => url_for(:controller => 'users', :action => 'update_password') ) do |f| %>
            <%= devise_error_messages! %>
            <div class="input-wrap">
              <%= f.label :password %><br>
               <%= f.password_field :password, autofocus: true, autocomplete: "off" %></span>
            </div>
            <div class="input-wrap">
              <%= f.label :password_confirmation %><br>
              <%= f.password_field :password_confirmation, autocomplete: "off" %>
            </div>
            <div class="input-wrap">
              <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br>
               <%= f.password_field :current_password, autocomplete: "off" %>
            </div>

            <div class="myprofile__edform__btn">
              <button type="submit" class="btn btn-blue __sm">Update Profile</button>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
