<%= title "DreamFunded | Profile Edit" %>

<div class="profile __profile">
  <div class="container clearfix">
    <div class="profile__sidebar"><a href="#" class="profile__sidebar__mob visible-xs">My Profile</a>
      <div class="profile__sidebar__inn">
        <div class="profile__sidebar__block">
          <ul class="reset-list">
            <li><%= link_to "My Investments", portfolio_path %></li>
            <li><%= link_to "My Profile", profile_path %></li>
            <li class="active"><%= link_to "Edit Profile", edit_user_path(current_user) %></li>
            <li><%= link_to "Invite", invite_users_path %></li>
            <li><%= link_to "Change Password", change_pass_path %></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="profile__content">
      <div class="myprofile">
        <div class="myprofile__title">
          <h2>Edit Profile</h2>
        </div>
        <div class="myprofile__edform">

            <%= form_for(@user) do |f| %>
            <%= devise_error_messages! %>
            <div class="input-wrap">
              <%= f.text_field :first_name, placeholder: 'First Name' %>
            </div>
            <div class="input-wrap">
              <%= f.text_field :last_name, placeholder: 'Last Name' %>
            </div>
            <div class="input-wrap">
              <%= f.text_field :email, placeholder: 'Email' %>
            </div>
            <div class="input-wrap">
              <%= f.text_field :phone, placeholder: 'Phone' %>
            </div>
            <div class="myprofile__edform__btn">
              <button type="submit" class="btn btn-blue __sm">Update Profile</button>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $('header').addClass('__white');
</script>
