<% title "DreamFunded | Change Password" %>
<div class="auth">
  <div class="container">
    <div class="auth__cnt">

    <div class="auth__top">
      <div class="auth__top__inn clearfix">

        <a  class='auth__top__link'>Change Password</a>
      </div>
    </div>



    <div class="auth__form">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= devise_error_messages! %>

        <div class="input-wrap">
          <%= f.email_field(:email, autofocus: true, :class =>" form-field", :placeholder => "Email") %>
        </div>


        <div class="auth__form__btn">
          <div class="auth__form__btn__inn">
            <%= f.submit("Send Reset Password Instructions", :class => "btn btn-blue") %>
          </div>
        </div>
      <% end %>

    </div>

    <div class="login__forget">
      <%= link_to "Sign up here", new_user_registration_path %>
    </div>


    </div>
  </div>
</div>


<script type="text/javascript">
    $('header').addClass('__white');
</script>
