<% title "DreamFunded | Contact Us" %>


<div class="contacts">
  <div class="container">
    <div class="contacts__title">
      <h2>Contact DreamFunded</h2>
    </div>
    <div class="contacts__cnt clearfix">
      <div class="contacts__left">
        <div class="contacts__adresses">
          <div class="contacts__adresses__title"><span>DreamFunded Marketplace, LLC</span></div>
          <div class="contacts__adresses__blocks clearfix">
            <div class="contacts__adresses__block">
              <p>San Francisco HQ</p>
              <p>425 Market Street</p>
              <p>22nd Floor, Suite 30</p>
              <p>San Francisco, CA 94105</p>
            </div>
            <div class="contacts__adresses__block">
              <p>New York City Office</p>
              <p>40 Wall Street</p>
              <p>28th Floor</p>
              <p>New York, NY 10005</p>
            </div>
          </div>
          <div class="contacts__phone"><a href="tel:(415)3493832">(415) 349-3832</a></div>
          <div class="contacts__mess">
            <div class="contacts__mess__it">
              <svg class="svg-icon wechat-icon">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#wechat-icon"></use>
              </svg><span>WeChat DreamFunded</span>
            </div>
            <div class="contacts__mess__it">
              <svg class="svg-icon whatsapp-icon">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#whatsapp-icon"></use>
              </svg><span>WhatsApp (415) 349-3832</span>
            </div>
          </div>
        </div>
      </div>
      <div class="contacts__form">
        <%= form_tag('contact_us', :method => :post, :id => "contact_us") do %>
          <div class="input-wrap">
            <%= text_field_tag(:name, nil, :placeholder => "Name", :required => true) %>
          </div>
          <div class="input-wrap">
            <%= text_field_tag(:email, nil, :placeholder => "Email", :required => true) %>
          </div>
          <div class="input-wrap">
            <%= text_field_tag(:phone, nil, :placeholder => "Phone") %>
          </div>
          <div class="input-wrap">
            <%= text_area(:message, nil, rows: 4, :class =>"userbox expand", :placeholder => "Type Your Message", :required => true) %>
          </div>
          <div class = "notice centered">
            <h2 class='darkblue' ><%= flash[:notice] if flash[:notice] %></h2>
            <%= @error_message %>
          </div>
          <div class="contacts__form__btn">
            <div class="contacts__form__btn__inn">
              <button type="submit" class="btn btn-blue">Send</button>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
