<% title "DreamFunded | FAQs " %>

<div  class="pageTopBlock how-it-works-bg">
  <div class="container">
    <div class="pageTopBlock__inn">
      <div class="pageTopBlock__title">
        <h1>How It Works</h1>
      </div>
      <div class="pageTopBlock__top-txt"><span>DreamFunded allows everyone to invest in real estate.</span></div>
    </div>
  </div>
</div>
<div class="howitworks">
  <div class="howitworks__block">
    <div class="container">
      <div class="howitworks__title">
        <h3>Investors</h3>
      </div>
      <div class="howitworks__cnt">
        <div class="row">
          <div class="col-sm-4">
            <div class="howitworks__it__arr"></div>
            <div class="howitworks__it">
              <div class="howitworks__it__icon"><i class="icon howi1-icon"></i></div>
              <div class="howitworks__it__title"><span><%= link_to "Quick Sign Up", new_user_registration_path %> </span></div>
              <div class="howitworks__it__txt">
                <p>Get access to view our selected real estate investment opportunities.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="howitworks__it__arr"></div>
            <div class="howitworks__it">
              <div class="howitworks__it__icon"><i class="icon howi2-icon"></i></div>
              <div class="howitworks__it__title"><span><%= link_to "Browse and Review", companies_path %></span></div>
              <div class="howitworks__it__txt">
                <p>View the full financials, photos, appraisals, and documents all on one page so you can judge for yourself.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="howitworks__it__arr"></div>
            <div class="howitworks__it">
              <div class="howitworks__it__icon"><i class="icon howi3-icon"></i></div>
              <div class="howitworks__it__title"><span><%= link_to "Invest", companies_path %></span></div>
              <div class="howitworks__it__txt">
                <p>Invest from anywhere through our easy and secure online platform.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="howitworks__block __white">
    <div class="container">
      <div class="howitworks__title">
        <h3> Real Estate Entrepreneurs</h3>
      </div>
      <div class="howitworks__cnt">
        <div class="row">
          <div class="col-sm-4">
            <div class="howitworks__it__arr"></div>
            <div class="howitworks__it">
              <div class="howitworks__it__icon"><i class="icon howi4-icon"></i></div>
              <div class="howitworks__it__title"><span><%= link_to "Apply", new_user_registration_path %></span></div>
              <div class="howitworks__it__txt">
                <p>Simple pre-qualification.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="howitworks__it__arr"></div>
            <div class="howitworks__it">
              <div class="howitworks__it__icon"><i class="icon howi5-icon"></i></div>
              <div class="howitworks__it__title"><span><a href='/my_campaigns'> Raise Capital</a></span></div>
              <div class="howitworks__it__txt">
                <p>Accept Investments Directly Online.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="howitworks__it__arr"></div>
            <div class="howitworks__it">
              <div class="howitworks__it__icon"><i class="icon howi6-icon"></i></div>
              <div class="howitworks__it__title"><span>Grow</span></div>
              <div class="howitworks__it__txt">
                <p>Focus On Doing More Deals.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mainStart">
  <div class="container">
    <%= link_to "Get Started", {:action => 'get_started'}, {:class => 'btn btn-blue __lg'} %>
  </div>
</div>
