<% title "Invest in Startups and Small Businesses - Equity Crowdfunding | DreamFunded" %>
<% facebook_url "https://dreamfunded.com/" %>
<% meta_tag "DreamFunded is a Silicon Valley equity crowdfunding platform.  " %>
<% facebook_image "https://dreamfunded.com/assets/logo_for_facebook.jpg" %>
<% facebook_secure_image "https://dreamfunded.com/assets/logo_for_facebook.jpg" %>


<%= render partial: "svgs" %>

<div class="mainTop">
  <div class="container"><a href="#" class="mainTop__slider__arr __prev"></a><a href="#" class="mainTop__slider__arr __next"></a>
    <div class="mainTop__inn">
      <div class="mainTop__slider">

        <div class="item">
          <div class="mainTop__slider__title">
            <h2>Invest in Real Estate</h2>
          </div>
          <div class="mainTop__slider__txt"><span>For as Low as $500</span></div>
          <div class="mainTop__slider__btn">
           <%= link_to "Get Started", {:action => 'get_started'}, {:class => 'btn btn-blue'} %>
          </div>
        </div>

        <div class="item">
          <div class="mainTop__slider__title">
            <h2>Invest in Local Business</h2>
          </div>
          <div class="mainTop__slider__txt"><span>And Get a Share of Their Profits</span></div>
          <div class="mainTop__slider__btn">
           <%= link_to "Get Started", {:action => 'get_started'}, {:class => 'btn btn-blue'} %>
          </div>
        </div>



        <div class="item">
          <div class="mainTop__slider__title">
            <h2>Tired of Low CD Rates?</h2>
          </div>
          <div class="mainTop__slider__txt"><span>Put Your Money to Work</span></div>
          <div class="mainTop__slider__btn"><%= link_to "Get Started", {:action => 'get_started'}, {:class => 'btn btn-blue'} %></div>
        </div>

        <div class="item">
          <div class="mainTop__slider__title">
            <h2>Tired of Your Banker Using Your Money and Loaning It To Someone Else</h2>
          </div>
          <div class="mainTop__slider__txt"><span>Cut Out The Middleman, Invest Directly </span></div>
          <div class="mainTop__slider__btn"><%= link_to "Get Started", {:action => 'get_started'}, {:class => 'btn btn-blue'} %></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mainCompanies">
  <div class="container">
    <div class="block-title">
      <h3>Investment Opportunities</h3>
    </div>

    <div class="mainCompanies__cnt">
      <div class="row">
        <div class="">

          <% @companies.each do |company| %>
            <%= link_to company_path(company) do %>

              <div class="col-md-4 col-sm-6">
                <div class="compthumb">
                  <div class="compthumb__img ofit-block">
                    <%= image_tag( company.cover.url(:small) ) %>
                  </div>
                  <%= link_to image_tag( company.image.url ), company_path(company), class: 'compthumb__logo' %>

                  <div class="compthumb__cnt">
                    <div class="compthumb__name"><a href="#"><%= company.name %></a></div>
                    <div class="compthumb__desc"><span><%= company.campaign.tagline %></span></div>
                    <div class="compthumb__tags">
                      <div class="compthumb__tag __blue"><span><%= company.category%></span></div>
                    </div>
                  </div>

                  <div class="compthumb__footer clearfix">
                    <% if company.id == 693 %>
                      <div class='testing_the_waters'>Testing the Waters</div>
                    <% else %>
                        <div class="compthumb__footer__block">
                          <div class="compthumb__footer__title"><span>Target</span></div>
                          <div class="compthumb__footer__num"><span><%= number_to_currency company.goal_amount, precision: 0 %></span></div>
                        </div>

                        <div class="compthumb__footer__block">
                          <div class="compthumb__footer__title"><span>Raised</span></div>
                          <% if company.status == 2 %>
                            <div class="compthumb__footer__num"><span><%= number_to_currency company.invested_amount, precision: 0 %></span></div>
                          <% else %>
                            <div class="compthumb__footer__num"><span><%= raised_amount(company) %></span></div>
                          <% end %>
                        </div>

                        <div class="compthumb__footer__block">
                          <div class="compthumb__footer__title"><span>Days Left</span></div>
                          <div class="compthumb__footer__num"><span><%= company.left_days %></span></div>
                        </div>
                    <% end %>
                  </div>

                </div>
              </div>
            <% end %>
          <% end %>





        </div>
      </div>
    </div>

    <div class="mainCompanies__btn">
      <div class="mainCompanies__btn__inn"><a href="/companies" class="btn btn-blue">View More</a></div>
    </div>
  </div>
</div>

<!-- <div class="mainFaq">
  <div class="container">
    <div class="block-title">
      <h3>FAQ</h3>
    </div>
    <div class="mainFaq__cnt">
      <div class="row">
        <div class="mainFaq__slider">
          <div class="col-sm-4">
            <div class="mainFaq__it__title"><a href="#">What type of investment opportuniteis DreamFunded has?</a></div>
            <div class="mainFaq__it__txt">
              <p>DreamFunded has 2 types of investments: Real Estate properties and Small Businesses.</p>
            </div>
            <div class="mainFaq__it__more"><a href="#">Lean More</a></div>
          </div>
          <div class="col-sm-4">
            <div class="mainFaq__it__title"><a href="#">What are returns on Investments?</a></div>
            <div class="mainFaq__it__txt">
              <p>Crowdfunding has become very popular over the past few years, but the process is nothing new. </p>

            </div>
            <div class="mainFaq__it__more"><a href="#">Lean More</a></div>
          </div>
          <div class="col-sm-4">
            <div class="mainFaq__it__title"><a href="#">If I am non-accredited, can I invest on DreamFunded?</a></div>
            <div class="mainFaq__it__txt">
              <p>Yes. DreamFunded operates under Title III of the JOBS Act and can recive investments from non-accredited investors.</p>
            </div>
            <div class="mainFaq__it__more"><a href="#">Lean More</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="mainPartners">
  <div class="container">
    <div class="block-title">
      <h3>DreamFunded Mentioned In</h3>
    </div>
    <!-- <div class="mainPartners__cnt"><a href="#" class="mainPartners__slider__arr __prev"></a><a href="#" class="mainPartners__slider__arr __next"></a>
      <div class="mainPartners__slider">
        <div class="item"><a href="#" class="mainPartners__it"><%= image_tag("content/partner.png") %></a></div>
        <div class="item"><a href="#" class="mainPartners__it"><%= image_tag("content/partner.png") %></a></div>
        <div class="item"><a href="#" class="mainPartners__it"><%= image_tag("content/partner.png") %></a></div>
        <div class="item"><a href="#" class="mainPartners__it"><%= image_tag("content/partner.png") %></a></div>
        <div class="item"><a href="#" class="mainPartners__it"><%= image_tag("content/partner.png") %></a></div>
        <div class="item"><a href="#" class="mainPartners__it"><%= image_tag("content/partner.png") %></a></div>
        <div class="item"><a href="#" class="mainPartners__it"><%= image_tag("content/partner.png") %></a></div>
      </div>
    </div> -->
    <%= render partial: "companies/media" %>
  </div>
</div>

<div class="mainStart">
  <div class="container">
    <%= link_to "Get Started", {:action => 'get_started'}, {:class => 'btn btn-blue __lg'} %>
  </div>
</div>



<% if current_user != nil %>
    <% if User.find(current_user.id).try(:confirmed) == false %>
        <!-- ---------------------- -->
        <a href="#dialog" class="modalLink">Verify Email Address</a>

        <div id="modal">
          <!-- First modal window -->
           <div id="dialog" class="window">
            <div class="contents">
                    <div class='close-icon'>
                        <a href="#" class="close"><i class="fa fa-times"></i></a>
                    </div>
                <h3>Verify Email Address</h3>
                <!-- <hr class='line-verify-modal'> -->
                <p class='verify-modal-text'>Thank you for joining DreamFunded. A verification email has been sent to <%= current_user.email %>. Please complete your signup by clicking the link in this email.</p>
                <center>
                    <a href="#" class="close">Close</a>
                    <%= link_to "Resend", resend_verification_path, class: 'resend-button' %>
                </center>
            </div>
         </div>
        </div>
        <!-- ------------- -->
        <script>
            // run when page is ready
            $(document).ready(function(){

                // create variable to hold the current modal window
                var activeWindow;

                    // cancel the default link behaviour

                    // find the href of the link that was clicked to use as an id
                    var id = '#dialog'
                    console.log(id);
                    // assign the window with matching id to the activeWindow variable, move it to the center of the screen and fade in
                    activeWindow = $('.window' + id)
                        .css('opacity', '0') // set to an initial 0 opacity
                        .css('top', '10%') // position vertically at 50%
                        .css('left', '50%') // position horizontally at 50%
                        .fadeTo(500, 1); // fade to an opacity of 1 (100%) over 500 milliseconds

                    // create blind and fade in
                    $('#modal')
                        .append('<div id="blind" />') // create a <div> with an id of 'blind'
                        .find('#blind') // select the div we've just created
                        .css('opacity', '0') // set the initial opacity to 0
                        .fadeTo(500, 0.8) // fade in to an opacity of 0.8 (80%) over 500 milliseconds
                        .click(function(e){
                            closeModal(); // close modal if someone clicks anywhere on the blind (outside of the window)
                        });

                $('a.close').click(function(e){
                        // cancel default behaviour
                        e.preventDefault();
                        // call the closeModal function passing this close button's window
                        closeModal();
                });
                function closeModal()
                {
                    // fade out window and then move back to off screen when fade completes
                    activeWindow.fadeOut(250, function(){ $(this).css('top', '-1000px').css('left', '-1000px'); });
                    // fade out blind and then remove it
                    $('#blind').fadeOut(250,    function(){ $(this).remove(); });
                }
              // close NewsLetter Subscription Box
            });
        </script>
    <% end %>
<% end %>


<script type="text/javascript">
    // main top slider
    if ($('.mainTop__slider').length > 0) {
        var mainTopSlider = function() {
            var slider = $('.mainTop__slider'),
                prevBtn = $('.mainTop').find('.mainTop__slider__arr.__prev'),
                nextBtn = $('.mainTop').find('.mainTop__slider__arr.__next');

            slider.on('init', function(event, slick) {
                slider.find('.slick-slide.slick-active').addClass('animated first-animated');
            });

            slider.slick({
                dots: true,
                infinite: true,
                speed: 300,
                slidesToShow: 1,
                slidesToScroll: 1,
                prevArrow: prevBtn,
                nextArrow: nextBtn,
                edgeFriction: 0,
                adaptiveHeight: true,
                 autoplay: true,
                autoplaySpeed: 10000
            })

            slider.on('afterChange', function(event, slick, currentSlide) {
              slider.find('.slick-slide').removeClass('animated first-animated');
              slider.find('.slick-slide[data-slick-index="' + currentSlide + '"]').addClass('animated');
            });
        }
        mainTopSlider();
    }

    // main companies slider
    if ($('.mainCompanies__slider').length > 0) {
        var mainCompaniesSliderInit = function() {
            var slider = $('.mainCompanies__slider');
            if (!slider.hasClass('slick-initialized')) {
                slider.slick({
                    dots: true,
                    infinite: true,
                    speed: 300,
                    slidesToShow: 1,
                    slidesToScroll: 1,
                    prevArrow: '',
                    nextArrow: '',
                    edgeFriction: 0,
                    adaptiveHeight: true,
                })
            }
        }

        var mainCompaniesSliderDestroy = function() {
            var slider = $('.mainCompanies__slider');
            if (slider.hasClass('slick-initialized')) {
                slider.slick('unslick');
            }
        }

        var mainCompaniesSliderCheck = function() {
            var ww = $(window).innerWidth();
            if (ww < 768) {
                mainCompaniesSliderInit();
            } else {
                mainCompaniesSliderDestroy();
            }
        }
        mainCompaniesSliderCheck();

        $(window).on('resize', function() {
            mainCompaniesSliderCheck();
        })
    }

    // main faq slider
    if ($('.mainFaq__slider').length > 0) {
        var mainFaqSliderInit = function() {
            var slider = $('.mainFaq__slider');
            if (!slider.hasClass('slick-initialized')) {
                slider.slick({
                    dots: true,
                    infinite: true,
                    speed: 300,
                    slidesToShow: 1,
                    slidesToScroll: 1,
                    prevArrow: '',
                    nextArrow: '',
                    edgeFriction: 0,
                    adaptiveHeight: true,
                })
            }
        }

        var mainFaqSliderDestroy = function() {
            var slider = $('.mainFaq__slider');
            if (slider.hasClass('slick-initialized')) {
                slider.slick('unslick');
            }
        }

        var mainFaqSliderCheck = function() {
            var ww = $(window).innerWidth();
            if (ww < 768) {
                mainFaqSliderInit();
            } else {
                mainFaqSliderDestroy();
            }
        }

        mainFaqSliderCheck();

        $(window).on('resize', function() {
            mainFaqSliderCheck();
        })
    }

    // main partners slider
    if ($('.mainPartners__slider').length > 0) {
        var mainPartnersSlider = function() {
            var slider = $('.mainPartners__slider'),
                prevBtn = $('.mainPartners').find('.mainPartners__slider__arr.__prev'),
                nextBtn = $('.mainPartners').find('.mainPartners__slider__arr.__next');

            slider.slick({
                dots: true,
                infinite: true,
                speed: 300,
                slidesToShow: 6,
                slidesToScroll: 1,
                prevArrow: prevBtn,
                nextArrow: nextBtn,
                edgeFriction: 0,
                adaptiveHeight: true,
                responsive: [
                    {
                      breakpoint: 1240,
                      settings: {
                        slidesToShow: 5
                      }
                    },
                    {
                      breakpoint: 992,
                      settings: {
                        slidesToShow: 4
                      }
                    },
                    {
                      breakpoint: 768,
                      settings: {
                        slidesToShow: 2
                      }
                    }
                  ]
            })
        }

        mainPartnersSlider();
    }
</script>
