<% title "PhoenixBird | Events" %>



<div class="pageTopBlock events-bg">
  <div class="container">
    <div class="pageTopBlock__inn">
      <div class="pageTopBlock__title">
        <h1>Upcoming Events</h1>
      </div>
    </div>
  </div>
</div>
<div class="events">
  <div class="container">
    <div class="events__list">
      <% @events.each do |event| %>
        <div class="events__it"><a href="#" class="events__it__img"> <%= image_tag event.image.url %> </a>
          <div class="events__it__date"><span><%= event.date.strftime("%b %e, %Y") %></span></div>
          <div class="events__it__title"><%= link_to event.name, event.link, target: '_blank' %></div>
          <div class="events__it__location">
            <svg class="svg-icon location-icon">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#location-icon"></use>
            </svg><span><%= event.location %></span>
          </div>
          <% if current_user != nil && current_user.authority >= authority[:Editor] %>
            <%= link_to 'Edit', edit_event_path(event), class: 'event-edit-link' %>
            <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' }, class: 'event-delete-link' %>
          <% end %>
        </div>
      <% end %>


    </div>

  </div>
</div>
      <% if current_user != nil && current_user.authority >= authority[:Editor] %>
        <div>
          <%= link_to 'New Event', new_event_path, class: 'centered add-new-event' %>
        </div>
      <% end %>
