<div class= "container news">

    <h2 class= "centered"> Edit article </h2>

    <%= form_for @article, multipart: true do |f| %>

      <%= f.text_field :title,  :placeholder => "Name of Your Article", :class => "form-field"%><br>

        <%= f.text_area :content, size: "70x15", class: 'posts-textarea ckeditor'  %>

        <%= f.text_area(:source, :placeholder => "Source", :class => "form-field") %>

        <%= f.text_area(:source_url, :placeholder => "Source URL", :class => "form-field") %>

        <%= f.text_field(:position, :placeholder => "Position", :class => "form-field") %>

      <div class = "notice centered">
        <%= flash[:file_uploaded] if flash[:file_uploaded] %>
      </div>
      <%= f.text_field(:video_link, :placeholder => 'Youtube link',  :class=> 'form-field') %><br>

      <div>
        <label for = "image">Upload Article Image: </label>
        <%= f.file_field "image" %><br>
        <%= image_tag @article.image.url, class: 'full-image' %>
      </div>
      <div class= "centered">
        <%= submit_tag("Publish", :class => "btn btn-blue") %>
      </div>
    <% end %>

</div>

<script type="text/javascript">
    $('header').addClass('__white');
</script>
