<div class='news'>
    <div class='container'>
		<%= form_for @news, multipart: true do |f|%>

			<%= f.text_field(:title, :placeholder => "Name of Your Article", :class => "form-field") %><br>

			<label for = "Image">Upload Article Image: </label>
			<%= f.file_field "image" %><br><br>

			<%= f.text_field(:video_link, :placeholder => 'Youtube link',  :class=> 'form-field') %><br>

				<%= f.text_area(:content, :placeholder => "Article Content", :class => "description-box ckeditor") %>

				<%= f.text_area(:source, :placeholder => "Source", :class => "form-field") %>

				<%= f.text_area(:source_url, :placeholder => "Source URL", :class => "form-field") %>

			<div class = "notice centered">
				<%= flash[:file_uploaded] if flash[:file_uploaded] %>
			</div>
			<div class = "notice centered">
				<%= flash[:message] if flash[:message] %>
			</div>

			<div class= "centered">
				<%= f.submit("Publish", :class => "btn btn-blue") %>
			</div>
		<% end %>

	</div>
</div>

<script type="text/javascript">
    $('header').addClass('__white');
</script>
