<%= title @article.title %>
<div class="news">
    <div class= " container">
        <col></col>
        <div class='col-md-1'></div>
        <div class='col-md-10'>

            <div>
                <% if current_user != nil && current_user.authority == authority[:Admin] %>
                  <%= link_to 'Edit', edit_news_path(@article), {"data-no-turbolink" => true, :class => 'right'} %>
                <% end %>
            </div>

            <h1 class= "center darkblue title"><%= @article.title %></h1>
            <br>
            <% if @article.video_link != ''%>
                <center>
                  <iframe  class='youtube-video' src= <%= @article.video_link %> frameborder="0" allowfullscreen ></iframe>
                </center>
            <% else %>
                <%= image_tag @article.image.url, :class => "full-image" %>
            <% end %>

            <p class= "article text-justify"><%= @article.content.html_safe %></p>



            <p class= "article indent news_source">Source: <%= link_to @article.source, @article.source_url, target: '_blank' %></p>
        </div>


    </div>
</div>

<script type="text/javascript">
    $('header').addClass('__white');
</script>
