<section class="media-table">
    <a href="http://www.cnn.com/videos/spanish/2016/04/16/cnnee-hispanicize-manny-fernandez-dreamfunded-hispanos-tecnologia.cnn" target="_blank">
        <%= image_tag("static/cnn.png") %>
    </a>
    <a href="https://www.inc.com/john-boitnott/how-new-crowdfunding-laws-are-giving-amateur-investors-the-insider-track.html" target="_blank">
        <%= image_tag("static/inc.png") %>
    </a>
    <a href="http://fortune.com/2016/02/08/entrepreneur-silicon-valley-tips/" target="_blank">
        <%= image_tag("static/fortune.png") %>
    </a>
    <a href="http://www.foxnews.com/world/2016/06/28/our-american-dream-start-up-guru-manny-fernandez-connects-people-to-money.html" target="_blank">
        <%= image_tag("static/fox.jpg") %>
    </a>
    <a href="http://video.cnbc.com/gallery/?video=3000467836" target="_blank">
        <%= image_tag("static/cnbc.png") %>
    </a>
    <a href="https://techcrunch.com/2016/10/12/what-regulation-crowdfunding-in-the-jobs-act-means-to-entrepreneurs-and-startups/" target="_blank">
        <%= image_tag("static/tech.png") %>
    </a>

    <a href="https://www.youtube.com/watch?v=5AWEQ2lX6YQ" target="_blank">
        <%= image_tag("static/nbc-logo.png") %>
    </a>

    <a href="https://www.usatoday.com/story/tech/news/2017/02/24/uber-travis-kalanick-/98328660/" target="_blank">
        <%= image_tag("static/us_today.png") %>
    </a>

    <a href="https://www.entrepreneur.com/article/246273" target="_blank">
        <%= image_tag("static/entrepreneur.png") %>
    </a>

    <a href="http://finance.yahoo.com/news/entrepreneurs-business-leaders-convene-build-150300368.html" target="_blank">
        <%= image_tag("static/yahoo.png") %>
    </a>

    <a href="http://www.blackenterprise.com/technology/black-tech-startups-stock-crowdfunding/" target="_blank">
        <%= image_tag("static/Black_Enterprise.png") %>
    </a>

    <a href="https://www.bloomberg.com/news/articles/2016-06-13/investors-warn-unicorns-share-information-evenly-or-get-sued" target="_blank">
        <%= image_tag("static/bloomberg.png") %>
    </a>

    <a href="http://www.bizjournals.com/pacific/news/2016/01/22/young-hawaii-entrepreneurs-start-crowdfunding.html" target="_blank">
        <%= image_tag("static/Pacific-Business-News.png") %>
    </a>

    <a href="https://www.youtube.com/embed/xt0wP3cUFuc" target="_blank">
        <%= image_tag("static/ABC-10News-gold.png") %>
    </a>

    <a href="https://www.thebalance.com/startup-funding-next-phase-1200626" target="_blank">
        <%= image_tag("static/about_new_.png") %>
    </a>

    <a href="https://www.forbes.com/sites/giovannirodriguez/2016/07/17/a-latino-angel-wants-to-help-you-invest-in-tech-startups/#29b9fbec55e5" target="_blank">
        <%= image_tag("static/forbes.png") %>
    </a>

    <a href="https://www.business.com/articles/silicon-valleys-most-well-known-investors-of-2016/" target="_blank">
        <%= image_tag("static/bsn_com.png") %>
    </a>

    <a href="http://businessingmag.com/4397/marketing/how-to-make-business-stand-out/" target="_blank">
        <%= image_tag("static/businessing_new.png") %>
    </a>

    <a href="https://www.youtube.com/embed/YLSDrt7_zVQ" target="_blank">
        <%= image_tag("static/CBS.png") %>
    </a>

    <a href="http://www.chicagotribune.com/suburbs/aurora-beacon-news/community/chi-ugc-article-actually-investment-crowdfunding-is-already-2016-05-09-story.html" target="_blank">
        <%= image_tag("static/chicago_tribune.png") %>
    </a>


    <!-- CENTER -->
    <a href="http://www.univision.com/los-angeles/kmex/noticias/negocios/quiere-ser-el-propietario-de-un-negocio-siga-estas-recomendaciones-video" target="_blank">
        <%= image_tag("static/univision.jpg") %>
    </a>

    <a href="https://www.wsj.com/articles/startup-investing-for-the-little-guy-1480907701" target="_blank">
        <%= image_tag("static/wallstreet.png") %>
    </a>

    <a href="http://www.cnbc.com/make-me-a-millionaire-inventor/" target="_blank">
        <%= image_tag("static/CNBC_logo.png") %>
    </a>

    <a href="http://www.dailyrepublic.com/news/fairfield/solano-hispanic-chamber-celebrates-10th-annual-gala/" target="_blank">
        <%= image_tag("static/daily_republic.png") %>
    </a>

    <a href="http://emeastartups.com/san-francisco-angel-investor-invests-in-finnish-crowdfunding-service-invesdor/3121" target="_blank">
        <%= image_tag("static/EMEAStartups.png") %>
    </a>

    <a href="https://www.fastcompany.com/3052069/your-expert-field-guide-to-finding-startup-investors" target="_blank">
        <%= image_tag("static/fast_company.png") %>
    </a>

    <a href="https://fi.co/posts/from-startups-to-investments-an-investor-s-pov" target="_blank">
        <%= image_tag("static/Founder_Institue.png") %>
    </a>

    <a href="http://latino.foxnews.com/latino/money/2016/06/28/our-american-dream-start-up-guru-manny-fernandez-connects-people-to-money/" target="_blank">
        <%= image_tag("static/Fox_News_Latino.jpg") %>
    </a>

    <a href="http://www.goodnewsfinland.com/silicon-valley-crowdfunding-platform-and-invesdor-to-join-forces/" target="_blank">
        <%= image_tag("static/good_n.png") %>
    </a>

    <a href="http://www.houstonchronicle.com/business/columnists/tomlinson/article/Doors-open-wider-to-investing-in-startups-but-6655122.php" target="_blank">
        <%= image_tag("static/Houston_Chronicle.png") %>
    </a>

    <a href="http://www.ibtimes.com/tech-giants-push-diversity-blacks-latinos-are-fleeing-once-diverse-san-francisco-1872760" target="_blank">
        <%= image_tag("static/IBT_logo.png") %>
    </a>

    <a href="http://www.mi-reporter.com/news/investors-invited-to-hear-about-modernized-investing/" target="_blank">
        <%= image_tag("static/mirLogo.png") %>
    </a>

    <a href="http://www.sandiegouniontribune.com/business/technology/sdut-crowd-funding-angel-capital-tech-coast-angels-2015apr17-story.html" target="_blank">
        <%= image_tag("static/san_diego.png") %>
    </a>

    <a href="http://www.pressdemocrat.com/business/6262391-181/investor-manny-fernandez-to-speak" target="_blank">
        <%= image_tag("static/press_democrat.png") %>
    </a>

    <a href="https://www.si.com/tech-media/2017/03/15/tennessee-titans-derrick-morgan-investment-huddle-ventures" target="_blank">
        <%= image_tag("static/Sports_Illustrated.png") %>
    </a>

    <a href="https://www.crowdfundinsider.com/2016/04/84967-brief-menlo-college-names-manny-fernandez-silicon-valley-equity-crowdfunding-pioneer/" target="_blank">
        <%= image_tag("static/CrowdfundInsiderLogo.png") %>
    </a>
</section>
