<section class="timeline">
                        <!-- #CARD1 -->
                        <div class='timeline-card'>
                            <div class='timeline-card-img centered'><%= image_tag("static/stanford_logo.png", class: 'stanford-logo') %></div>
                            <div class='tmln-card-title centered'>Manny becomes a capital advisor for Stanford Latino Leadership Program</div>
                            <!-- <div class='tmln-card-text'>DreamFunded was Incorporated as Delaware C-corporation.</div> -->

                            <div class='timeline-date'>Jun 16th, 2016</div>
                        </div>

                        <!-- #CARD2 -->
                        <div class='timeline-card'>
                            <div class='timeline-card-img centered'><%= image_tag("static/DreamFunded-Logo-Vertical-lightblue.png") %></div>
                            <div class='tmln-card-title centered'>1st approval SV/ SF registered funding portal</div>
                            <!-- <div class='tmln-card-text'>DreamFunded was Incorporated as Delaware C-corporation.</div> -->

                            <div class='timeline-date'>Jul 19th, 2016</div>
                        </div>

                        <!-- #CARD3 -->
                        <div class='timeline-card'>
                            <div class='timeline-card-img centered'><%= image_tag("static/CNBC_logo.png") %></div>
                            <div class='tmln-card-title centered'>Latino to be an investor "Shark" on CNBC Make Me A Millionaire Inventor</div>
                            <!-- <div class='tmln-card-text'>DreamFunded was Incorporated as Delaware C-corporation.</div> -->

                            <div class='timeline-date'>Oct 6th, 2016</div>
                        </div>


                        <!-- #CARD5 -->
                        <div class='timeline-card'>
                            <div class='timeline-card-img centered'><%= image_tag("static/CHCC_official_logo.jpg") %></div>
                            <div class='tmln-card-title centered'>Award Hispanic Shark of the year by California Hispanic Chamber of Commerce (CHCC)</div>
                            <!-- <div class='tmln-card-text'>DreamFunded was Incorporated as Delaware C-corporation.</div> -->

                            <div class='timeline-date'>Sep 12th, 2016</div>
                        </div>

                        <!-- #CARD6 -->
                        <div class='timeline-card'>

                            <div class='tmln-card-title centered'>Signed a weekly TV broadcast agreement with Latino PBS for a weekly TV show called CrowdShark.</div>
                            <!-- <div class='tmln-card-text'>DreamFunded was Incorporated as Delaware C-corporation.</div> -->

                            <div class='timeline-date'>Feb 5th, 2017</div>
                        </div>

                        <!-- #CARD7 -->
                        <div class='timeline-card'>
                            <div class='timeline-card-img centered'><%= image_tag("static/DreamFunded-Logo-Vertical-lightblue.png") %></div>
                            <div class='tmln-card-title centered'>Manny announces new division of DreamFunded as DreamFunded Latino.</div>
                            <!-- <div class='tmln-card-text'>DreamFunded was Incorporated as Delaware C-corporation.</div> -->

                            <div class='timeline-date'>Apr 26th, 2017</div>
                        </div>

                        <div class='timeline-line'></div>
                    </section>
