<section class="timeline">
    <% @timeline_items.each do |item|%>

        <!-- #CARD1 -->
        <div class='timeline-card'>
            <div class='timeline-card-img centered'><%= image_tag(item.image.url, class: 'stanford-logo') %></div>
            <div class='tmln-card-title centered'><%= item.content%></div>
            <!-- <div class='tmln-card-text'>DreamFunded was Incorporated as Delaware C-corporation.</div> -->

            <div class='timeline-date'>Jun 16th, 2016</div>
        </div>

    <% end %>

<!--     <div class='timeline-card'>
        <div class='timeline-card-img centered'><%= image_tag("static/finra.png") %></div>
        <div class='tmln-card-title centered'>1st Silicon Valley/ San Francisco registered funding portal</div>
        <div class='timeline-date'>Jul 19th, 2016</div>
    </div>

    <div class='timeline-card'>
        <div class='timeline-card-img centered'><%= image_tag("static/CNBC_logo.png") %></div>
        <div class='tmln-card-title centered'>Manny is the first Latino to be an investor "Shark" on CNBC Make Me A Millionaire Inventor</div>
        <div class='timeline-date'>Oct 6th, 2016</div>
    </div>


    <div class='timeline-card'>
        <div class='timeline-card-img centered'><%= image_tag("static/CHCC_official_logo.jpg") %></div>
        <div class='tmln-card-title centered'>Award Hispanic Shark of the year by California Hispanic Chamber of Commerce (CHCC)</div>
        <div class='timeline-date'>Sep 12th, 2016</div>
    </div>


    <div class='timeline-card'>
        <div class='timeline-card-img centered'><%= image_tag("static/latinopbs.png") %></div>
        <div class='tmln-card-title centered'>Signed a weekly TV broadcast agreement with Latino PBS for a weekly TV show called CrowdShark.</div>
        <div class='timeline-date'>Feb 5th, 2017</div>
    </div>


    <div class='timeline-card'>
        <div class='timeline-card-img centered'><%= image_tag("static/DreamFunded-Logo-Vertical-lightblue.png") %></div>
        <div class='tmln-card-title centered'>Manny announces new division of DreamFunded as DreamFunded Latino.</div>
        <div class='timeline-date'>Apr 26th, 2017</div>
    </div> -->

    <div class='timeline-line'></div>
</section>
