<% title "DreamFunded | #{@company.name}" %>
<% meta_tag @company.campaign.tagline %>

<% facebook_og_title @company.name %>
<% facebook_url("https://dreamfunded.com/companies/company_profile/#{@company.slug}")%>

<% facebook_image "https://dreamfunded.com/assets/sf_bg.jpg" %>
<% facebook_secure_image "https://dreamfunded.com/assets/sf_bg.jpg" %>


<div class="investTop" style='background-image:url("<%= @company.cover.url%>");'>
    <div class='investTopOverlay'></div>
              <div class="container">
                <div class="row">
                  <div class="col-md-6 hidden-sm hidden-xs">
                    <div data-video="<%= @company.video_link %>" class="investTop__video"><a href="#" class="investTop__video__play">
                        <svg class="svg-icon play-icon">
                          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#play-icon"></use>
                        </svg></a><a href="#" class="investTop__video__close"></a>
                      <div class="investTop__video__img ofit-block"><img src="img/content/compthumb-img.jpg" alt=""></div>
                      <div class="investTop__video__video">
                        <iframe src="javascript:void(0)"></iframe>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="investTop__title">
                      <h2><%= @company.name %></h2>
                    </div>
                    <div class="investTop__subtitle"><span> <%= @campaign.tagline %> </span></div>
                    <div class="investTop__watchvideo visible-sm visible-xs">
                      <svg class="svg-icon play-icon">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#play-icon"></use>
                      </svg><a href="#">Watch the video</a>
                    </div>
                    <div class="investTop__location">
                      <svg class="svg-icon location-icon">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#location-icon"></use>
                      </svg><span><%= @campaign.place %></span>
                    </div>
                    <% @progress = ((@company.invested_amount.to_f / @company.goal_amount.to_f).to_f) *100 %>
                    <div class="investTop__progress">
                      <div class="investTop__progress__txt"><span><b><%= number_to_currency @company.invested_amount, precision: 0 %></b> Raised</span></div>
                      <div class="investTop__progress__line">
                        <div style="width: <%= @progress%>%;" class="investTop__progress__line__inn"></div>
                      </div>
                      <div class="investTop__progress__percent"><span><%= number_with_precision(@progress, precision: 0) %>% of <%= number_to_currency @company.goal_amount, precision: 0 %> Goal</span></div>
                    </div>
                    <div class="investTop__btn">
                      <button class="btn btn-blue fw-btn">Invest in <%= @company.name %></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="project">
              <div class="container">
                <div class="project__quote">
                  <p>“ And sadly, 67% of our target audience, millennials and multicultural, are surfing the internet and social media as a coping mechanism to deal with their problems. This is why the time for Me Tyme is now. ”</p>
                </div>
                <div class="project__block">
                  <div class="project__block__title">
                    <h2>Overview</h2>
                  </div>
                  <p>America is stressed out now more than ever.  We ALL experience stress on a daily basis.  There are issues related family, financial, work, and relationship that we deal with every day and the list goes on and on. HOW people are coping with their stress is having a tremendous effect on our community family and workplace, particularly with women and the younger generation. Chronic stress and depression are a critical issue, and 25% of women medicate with antidepressants. The top two issues on college campuses among our future leaders are anxiety and depression. Per year in the workplace, stress, depression and emotionally related illnesses account for 55 million hours of missed workdays and $150 billion in lost productivity costs due to personal issues. 1 in 5 Americans claims to have no one to rely on for emotional support.  And sadly, 67% of our target audience, millennials and multicultural, are surfing the internet and social media as a coping mechanism to deal with their problems. This is why the time for Me Tyme is now.</p>
                  <h3>The Solution</h3>
                  <p>Me Tyme Network (MTN) is an on demand self-help marketplace that features industry experts in innovative snackable video content designed to improve emotional intelligence, health, and wellness. Original content is distributed through a multi-channel, interactive, mobile TV streaming platform.</p>
                  <div class="project__block__img"><img src="img/content/progimg1.jpg" alt=""></div>
                  <p>America is stressed out now more than ever.  We ALL experience stress on a daily basis.  There are issues related family, financial, work, and relationship that we deal with every day and the list goes on and on. HOW people are coping with their stress is having a tremendous effect on our community family and workplace, particularly with women and the younger generation. Chronic stress and depression are a critical issue, and 25% of women medicate with antidepressants. The top two issues on college campuses among our future leaders are anxiety and depression. Per year in the workplace, stress, depression and emotionally related illnesses account for 55 million hours of missed workdays and $150 billion in lost productivity costs due to personal issues. 1 in 5 Americans claims to have no one to rely on for emotional support.  And sadly, 67% of our target audience, millennials and multicultural, are surfing the internet and social media as a coping mechanism to deal with their problems. This is why the time for Me Tyme is now.</p>
                </div>
                <div class="project__block">
                  <div class="project__block__title">
                    <h2>Team</h2>
                  </div>
                  <div class="project__team">
                    <div class="row">
                      <div class="project__team__slider">
                        <div class="col-md-4">
                          <div class="mentor"><a href="#" class="mentor__avatar ofit-block"><img src="img/content/mentor.jpg" alt=""></a>
                            <div class="mentor__cnt">
                              <div class="mentor__cnt__inn">
                                <div class="mentor__name"><span>John Sweet</span></div>
                                <div class="mentor__pos"><span>Angel Investor / Startup Advisor</span></div>
                                <div class="mentor__desc">
                                  <p>I'm an angel investor with Pasadena Angels. I am a mentor and adviser to early-stage companies seeking growth capital through private equity. As a group, we have invested over $65 million in over 175 ventures since inception. I'm an angel investor with Pasadena Angels.</p>
                                </div>
                              </div>
                              <div class="mentor__more"><a href="#">Read More</a></div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="mentor"><a href="#" class="mentor__avatar ofit-block"><img src="img/content/mentor.jpg" alt=""></a>
                            <div class="mentor__cnt">
                              <div class="mentor__cnt__inn">
                                <div class="mentor__name"><span>John Sweet</span></div>
                                <div class="mentor__pos"><span>Angel Investor / Startup Advisor</span></div>
                                <div class="mentor__desc">
                                  <p>I'm an angel investor with Pasadena Angels. I am a mentor and adviser to early-stage companies seeking growth capital through private equity. As a group, we have invested over $65 million in over 175 ventures since inception. I'm an angel investor with Pasadena Angels.</p>
                                </div>
                              </div>
                              <div class="mentor__more"><a href="#">Read More</a></div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="mentor"><a href="#" class="mentor__avatar ofit-block"><img src="img/content/mentor.jpg" alt=""></a>
                            <div class="mentor__cnt">
                              <div class="mentor__cnt__inn">
                                <div class="mentor__name"><span>John Sweet</span></div>
                                <div class="mentor__pos"><span>Angel Investor / Startup Advisor</span></div>
                                <div class="mentor__desc">
                                  <p>I'm an angel investor with Pasadena Angels. I am a mentor and adviser to early-stage companies seeking growth capital through private equity. As a group, we have invested over $65 million in over 175 ventures since inception. I'm an angel investor with Pasadena Angels.</p>
                                </div>
                              </div>
                              <div class="mentor__more"><a href="#">Read More</a></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="project__block">
                  <div class="project__block__title">
                    <h2>Our Mission</h2>
                  </div>
                  <p>Me Tyme Network (MTN) is an on demand self-help marketplace that features industry experts in innovative snackable video content designed to improve emotional intelligence, health, and wellness. Original content is distributed through a multi-channel, interactive, mobile TV streaming platform.</p>
                  <div class="project__block__img"><img src="img/content/progimg1.jpg" alt=""></div>
                </div>
                <div class="project__block">
                  <div class="project__block__title">
                    <h2>Terms</h2>
                  </div>
                  <p>America is stressed out now more than ever.  We ALL experience stress on a daily basis.  There are issues related family, financial, work, and relationship that we deal with every day and the list goes on and on. HOW people are coping with their stress is having a tremendous effect on our community family and workplace, particularly with women and the younger generation. Chronic stress and depression are a critical issue, and 25% of women medicate with antidepressants. The top two issues on college campuses among our future leaders are anxiety and depression. Per year in the workplace, stress, depression and emotionally related illnesses account for 55 million hours of missed workdays and $150 billion in lost productivity costs due to personal issues. 1 in 5 Americans claims to have no one to rely on for emotional support.  And sadly, 67% of our target audience, millennials and multicultural, are surfing the internet and social media as a coping mechanism to deal with their problems. This is why the time for Me Tyme is now.</p>
                </div>
                <div class="project__tags">
                  <div class="compthumb__tag __blue"><span>Professional Services</span></div>
                  <div class="compthumb__tag __yellow"><span>Transportation</span></div>
                  <div class="compthumb__tag __pink"><span>Automotive</span></div>
                  <div class="compthumb__tag __purple"><span>Technology</span></div>
                  <div class="compthumb__tag __indigo"><span>Software & services</span></div>
                  <div class="compthumb__tag __red"><span>engineering</span></div>
                </div>
              </div>
            </div>

<script type="text/javascript">
// video
$('.investTop__video__play').on('click', function(e) {
    var th = $(this),
        par = th.closest('.investTop__video'),
        video = par.attr('data-video'),
        framepar = par.find('.investTop__video__video');
    par.addClass('active');
    framepar.html('<iframe src="' + video + '?autoplay=1&showinfo=0&modestbranding=1"></iframe>');
    e.preventDefault();
});

$('.investTop__video__close').on('click', function(e) {
    var th = $(this),
        par = th.closest('.investTop__video'),
        framepar = par.find('.investTop__video__video');
    par.removeClass('active');
    framepar.empty();
    e.preventDefault();
});
</script>
