<% title "DreamFunded " %>


<div class="pageTopBlock companies-bg">
  <div class="container">
    <div class="pageTopBlock__inn">
      <div class="pageTopBlock__title">
        <h1>Invest in the People You Believe in</h1>
      </div>
    </div>
  </div>
</div>
<div class="investments">
  <div class="container">
    <div class="row">
    	<% @companies.each do |company| %>
    		<%= link_to company_path(company) do %>
    	      <div class="col-md-4 col-sm-6">
    		        <div class="compthumb">
    		        	<div class="compthumb__img ofit-block">
    		        		<%= image_tag(company.cover.url) %>
    		        	</div>
    		        	<span class="compthumb__logo">
    		        		<%= image_tag( company.image.url )%>
    		        	</span>
    		          <div class="compthumb__cnt">
    		            <div class="compthumb__name"> <%= link_to company.name, company_path(company) %> </div>
    		            <div class="compthumb__desc"><span><%= company.campaign.tagline %></span></div>
    		            <div class="compthumb__tags">
    		              <div class="compthumb__tag __blue"><span><%= company.category %></span></div>
    		            </div>
    		          </div>
    		          <div class="compthumb__footer clearfix">
                        <% if company.id == 693 %>
                          <div class='testing_the_waters'>Testing the Waters</div>
                        <% else %>
                            <div class="compthumb__footer__block">
                              <div class="compthumb__footer__title"><span>Target</span></div>
                              <div class="compthumb__footer__num"><span><%= number_to_currency company.goal_amount, precision: 0 %></span></div>
                            </div>

                            <div class="compthumb__footer__block">
                              <div class="compthumb__footer__title"><span>Raised</span></div>
                              <% if company.status == 2 %>
                                <div class="compthumb__footer__num"><span><%= number_to_currency company.invested_amount, precision: 0 %></span></div>
                              <% else %>
                                <div class="compthumb__footer__num"><span><%= raised_amount(company) %></span></div>
                              <% end %>
                            </div>

                            <div class="compthumb__footer__block">
                              <div class="compthumb__footer__title"><span>Days Left</span></div>
                              <div class="compthumb__footer__num"><span><%= company.left_days %></span></div>
                            </div>
                        <% end %>
                      </div>
    		        </div>
    	      </div>
    		<% end %>
    	<% end %>
    </div>

    <h1 class='center'>Funded by Accredited Investors</h1><br>
    <div class='row'>
        <% @funded_companies.each do |company| %>

              <div class="col-md-4 col-sm-6">
                    <div class="compthumb">
                        <div class="compthumb__img ofit-block">
                            <%= image_tag(company.cover.url) %>
                        </div>

                        <span class="compthumb__logo">
                            <%= image_tag( company.image.url )%>
                        </span>
                      <div class="compthumb__cnt">
                        <div class="compthumb__name"> <a><%= company.name %></a> </div>
                        <div class="compthumb__desc"><span><%= company.campaign.tagline %></span></div>
                        <div class="compthumb__tags">
                          <div class="compthumb__tag __blue"><span><%= company.category %></span></div>
                        </div>
                      </div>
                      <div class="compthumb__footer clearfix">
                        <div class="compthumb__desc funder-by-accredited">Funded by Accredited Investors</div>


                        <!-- <div class="compthumb__footer__block">
                          <div class="compthumb__footer__title"><span>Funded</span></div>
                        </div>
                        <div class="compthumb__footer__block">
                            <div class="compthumb__footer__title"><span>Raised</span></div>
                                <% if company.status == 2 %>
                                    <div class="compthumb__footer__num"><span><%= number_to_currency company.invested_amount, precision: 0 %></span></div>
                                <% else %>
                                    <div class="compthumb__footer__num"><span><%= raised_amount(company) %></span></div>
                                <% end %>
                        </div>
                        <div class="compthumb__footer__block">
                          <div class="compthumb__footer__title"><span>Days Left</span></div>
                          <div class="compthumb__footer__num"><span><%= company.left_days %></span></div>
                        </div> -->

                      </div>
                    </div>
              </div>

        <% end %>
    </div>


  </div>
</div>
