<% title "PhoenixBird | Invest in #{@company.name}" %>
<% meta_tag @company.campaign.tagline %>
<% facebook_og_title ("Invest in #{@company.name} on DreamFunded.com") %>
<% facebook_url("https://dreamfunded.com/companies/#{@company.slug}")%>
<% facebook_image @company.cover.url %>
<% facebook_secure_image @company.cover.url %>
<% twitter_image @company.cover.url %>



<div class="investTop" style='background-image:url("<%= @company.cover.url%>");'>
    <div class='investTopOverlay'></div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 hidden-sm hidden-xs">
                <div data-video="<%= @company.video_link %>" class="investTop__video">
                    <a href="#" class="investTop__video__play">
                        <svg class="svg-icon play-icon">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#play-icon"></use>
                        </svg>
                    </a>
                    <a href="#" class="investTop__video__close"></a>
                    <div class="investTop__video__img ofit-block"><%= image_tag ("video_bg.png") %></div>
                    <div class="investTop__video__video">
                        <iframe src="javascript:void(0)"></iframe>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="investTop__title">
                  <h2><%= @company.name %></h2>
                </div>
                <div class="investTop__subtitle"><span> <%= @company.campaign.tagline %> </span></div>
                <div class="investTop__watchvideo visible-sm visible-xs">
                  <svg class="svg-icon play-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#play-icon"></use>
                  </svg><a href="#">Watch the video</a>
                </div>
                <div class="investTop__location">
                  <svg class="svg-icon location-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#location-icon"></use>
                  </svg><span><%= @company.campaign.place %></span>
                </div>

                <% if @company.status == 2 %>
                    <% @progress = ((@company.invested_amount.to_f / @company.goal_amount.to_f).to_f) *100 %>
                    <div class="investTop__progress">
                        <div class="investTop__progress__txt"><span><b><%= number_to_currency @company.invested_amount, precision: 0 %></b> Raised</span></div>
                        <div class="investTop__progress__line">
                            <div style="width: <%= @progress%>%;" class="investTop__progress__line__inn"></div>
                        </div>
                        <div class="investTop__progress__percent">
                            <span><%= number_with_precision(@progress, precision: 0) %>% of <%= number_to_currency @company.goal_amount, precision: 0 %> Goal</span>
                        </div>
                    </div>
                <% end %>

            </div>
        </div>
    </div>
</div>

<div class="invest" id='pay-form'>
  <div class="container">
    <div class="invest__inn">
        <% if @error %>
          <% @error.keys.sort.each do |key| %>
            <% @error[key].each do |val| %>
              <b> <%=  val.flatten.join(' ') %> </b>
              <br>
            <% end %>
          <% end %>
        <% end %>
        <div class="invest__title">
            <h3> I want to invest:</h3>
        </div>

        <%= form_tag( '/submit_api_payment', method: :post, class: 'pay-form') do %>
            <%= hidden_field_tag(:id, @company.id) %>
            <%= hidden_field_tag(:email, current_user.email ) %>
            <div class="invest__topinput">
              <%= text_field_tag :amount, nil, placeholder: '', required: true %>
            </div>

            <div class="invest__block">
              <div class="invest__block__title"><span>Name</span></div>
              <div class="invest__block__subtitle"><span>Sign your name in the field below by typing your full legal name.</span></div>
              <div class="input-wrap">
                <%= text_field_tag :name, current_user.name, placeholder: 'First and Last name', required: true %>
              </div>
            </div>

            <div class="invest__block">
              <div class="invest__block__title"><span>Date of Birth</span></div>
              <div class="input-row row">
                <div class="col-xs-4">
                  <div class="input-wrap">
                    <%= select_tag( :birth_month, options_for_select(all_month),  prompt: "Month", class: 'selectpicker' ) %>
                  </div>
                </div>
                <div class="col-xs-4">
                  <div class="input-wrap">
                    <%= select_tag( :birth_date, options_for_select(all_dates),  prompt: "Date", class: 'selectpicker' ) %>
                  </div>
                </div>
                <div class="col-xs-4">
                  <div class="input-wrap">
                    <%= text_field_tag :birth_year, nil, placeholder: 'Year', required: true %>
                  </div>
                </div>
              </div>
            </div>

            <div class="invest__block">
              <div class="invest__block__title"><span>Address</span></div>
              <div class="input-row row">
                <div class="col-xs-6">
                  <div class="input-wrap">
                    <%= text_field_tag :address, @entity["street_address_1"], placeholder: 'Street', required: true %>
                  </div>
                </div>
                <div class="col-xs-6">
                  <div class="input-wrap">
                    <%= text_field_tag :city, @entity["city"], placeholder: 'City', required: true %>
                  </div>
                </div>
              </div>
              <div class="input-row row">
                <div class="col-xs-6">
                  <div class="input-wrap">
                    <%= select_tag( :state, options_for_select(all_states, @entity["region"]),  prompt: "State", class: 'selectpicker' ) %>
                  </div>
                </div>
                <div class="col-xs-6">
                  <div class="input-wrap">
                    <%= text_field_tag :zipcode, @entity["postal_code"], placeholder: 'Zipcode', required: true %>
                  </div>
                </div>
              </div>
            </div>

            <div class="invest__block">
              <div class="invest__block__title"><span>Phone</span></div>
              <div class="input-row row">
                <div class="col-sm-6">
                  <div class="input-wrap">
                    <%= text_field_tag :phone, current_user.phone, placeholder: 'Phone Number', required: true %>
                  </div>
                </div>
              </div>
            </div>

            <div class="invest__block">
              <div class="invest__block__title"><span>Government-issued identification number (SSN, SIN, or tax ID)</span></div>
              <div class="input-wrap">
                <%= text_field_tag :ssn, nil, placeholder: 'SSN', required: true %>
              </div>
              <div class="invest__block__txt"><span>We understand your concern regarding the security of your SSN. This is used for identity verification, investor screening, and tax forms associated with this investment. We ask it due to anti-money laundering regulations and fraud checks.</span></div>
            </div>

            <div class="invest__checkblock">
              <div class="checkbox">
                <input type="checkbox" class="hidden-input" name="us_person" id="us_citizen" required>
                <span class="checkbox__icon"></span>
                <label for="us_citizen">
                    <div class="checkbox__txt">
                      <p>I am a US citizen or other US person</p>
                    </div>
                </label>
              </div>
            </div>

            <div class="invest__block">
              <div class="invest__block__title"><span>Payment</span></div>

              <% if @ach_authorization["name"] %>
                <div class='get-funded-section-name ach-exist'>Payment Method</div>
                    <div class="input-wrap">
                        <select id='payment-method' name='ach' class='selectpicker'>
                            <option value='exist' ><%= @ach_authorization["name"] %></option>
                            <option value='ach'>ACH</option>
                        </select>
                    </div><br>

              <% end%>
                <section class='payment-section'>
                    <div class="input-row row">
                        <div class="col-xs-6">
                          <div class="input-wrap">
                            <%= select_tag( :account_type, options_for_select([['checking'],['savings']]), class: 'selectpicker' ) %>
                          </div>
                        </div>
                        <div class="col-xs-6">
                          <div class="input-wrap">
                            <%= select_tag( :check_type, options_for_select([['personal'],['business']]), class: 'selectpicker' ) %>
                          </div>
                        </div>
                    </div>
                        <div class="input-row row">
                        <div class="col-xs-6">
                          <div class="input-wrap">
                            <%= text_field_tag :routing_number, nil, placeholder: 'Routing Number' %>
                          </div>
                        </div>
                        <div class="col-xs-6">
                          <div class="input-wrap">
                            <%= text_field_tag :account_number, nil,placeholder: 'Account Number' %>
                          </div>
                        </div>
                    </div>
                </section>

            </div>

            <div class="invest__btn">
              <div class="invest__btn__inn">
                <button type="submit" class="btn btn-blue" name="submitButton">Complete Investment </button>
              </div>
            </div>

        <% end %>

    </div>
  </div>
</div>


<script type="text/javascript">
    $(document).ready(function() {
        $('#payment-method').on('change',function(){
            if(this.value == 'ach'){
                $(".payment-section").show();
            }
            else{
                $(".payment-section").hide();
            }
        })
        if($(".ach-exist").length == 1){
            $(".payment-section").hide();
        }else{
            $(".payment-section").show();
        }


        // FORM VALIDATION
        var form = document.getElementById('pay-form'); // form has to have ID: <form id="formID">
        form.noValidate = true;
        form.addEventListener('submit', function(event) { // listen for form submitting
                if (!event.target.checkValidity()) {
                    event.preventDefault(); // dismiss the default functionality
                    alert('Please, fill the form'); // error message
                }else{
                    form.submitButton.disabled = true;
                }

        }, false);


    })
</script>
