<% title "DreamFunded | Online Real Estate Investments. Equity CrowdFunding" %>

<div class="pageTopBlock companies-bg">
  <div class="container">
    <div class="pageTopBlock__inn">
      <div class="pageTopBlock__title">
        <h2>The New Way for Everyone<br> to Invest in Real Estate</h2>
      </div>
      <br>
      <div class='real-estate-tagline'>Start investing with as little as $500</div>
    </div>
  </div>
</div>
<div class="investments" style="padding-top: 50px;">
  <div class="container">
    <h3 class='center' style="font-size:20px;">These rehab projects were made possible due to the partnership between Sacramento Affordable Housing Organization and Sacramento Housing and Redevelopment Agency (<a href="http://www.shra.org/" target="_blank" style="color:#62c6d5;">SHRA</a>) under the federal Neighborhood Stabilization Program.</h3>
    <br>
    <h3 class='center' style="font-size:20px;">Funded by Accredited Investors</h3>
    <br>
    <div class="row">
        <% @companies.each do |company| %>
              <div class="col-md-4 col-sm-6">
                    <div class="compthumb">
                        <div class="compthumb__img ofit-block">
                            <%= image_tag(company.cover.url) %>
                        </div>
                        <!-- <span class="compthumb__logo">
                            <%#= image_tag( company.image.url )%>
                        </span> -->
                      <div class="compthumb__cnt">
                        <div class="compthumb__name"> <a><%= company.name %> </a> </div>
                        <div class="compthumb__desc"><span><%= company.campaign.tagline %></span></div>
                        <div class="compthumb__tags">
                          <div class="compthumb__tag __blue"><span><%= company.category %></span></div>
                          <div class="compthumb__tag __blue"><span>DEBT</span></div>
                        </div>
                      </div>
                      <div class="compthumb__footer clearfix">

                            <div class="compthumb__footer__block" >
                              <div class="compthumb__footer__title"><span>Raised</span></div>
                              <div class="compthumb__footer__num"><span><%= number_to_currency company.goal_amount, precision: 0 %></span></div>
                            </div>

                            <div class="compthumb__footer__block">
                              <div class="compthumb__footer__title"><span>Annual Return</span></div>

                                <div class="compthumb__footer__num"><span>10%</span></div>
                            </div>

                            <div class="compthumb__footer__block" >
                              <div class="compthumb__footer__title"><span>Status</span></div>
                              <div class="compthumb__footer__num"><span>Funded</span></div>
                            </div>

                      </div>
                    </div>
              </div>
        <% end %>
             <!--  <div class="col-md-4 col-sm-6">
                    <div class="compthumb">
                        <div class="compthumb__img ofit-block">
                            <%= image_tag("clipart-house.jpg") %>
                        </div>

                      <div class="compthumb__cnt">
                        <div class="compthumb__name"> <a> Coming Soon </a> </div>
                        <div class="compthumb__desc"><span>Join the Waitlist for Future Properties</span></div>
                        <div class="compthumb__tags">
                          <div class="compthumb__tag __blue"><span>Real Estate</span></div>
                        </div>
                      </div>
                      <div class="compthumb__footer clearfix">



                            <div class="compthumb__footer__block" style="width:100%;">
                              <div class="compthumb__footer__title"><span>Status</span></div>
                              <div class="compthumb__footer__num"><span>Coming Soon</span></div>
                            </div>

                      </div>
                    </div>
              </div> -->
    </div>
  </div>
</div>
