<% title "DreamFunded | #{@company.name}" %>
<% meta_tag @campaign.tagline %>

<% facebook_og_title ("Invest in #{@company.name} on DreamFunded.com") %>
<% facebook_url("https://dreamfunded.com/companies/#{@company.slug}")%>

<% facebook_image @company.cover.url %>
<% facebook_secure_image @company.cover.url %>

<% twitter_image @company.cover.url %>

<div class="investTop" style='background-image:url("<%= @company.cover.url%>");'>
    <div class='investTopOverlay'></div>
    <div class="container">
        <div class="">
            <div class="col-md-6 hidden-sm hidden-xs">
              <% if @company.video_link.empty? %>
                <%= image_tag @company.image %>
              <% else %>

                <div data-video="<%= @company.video_link %>" class="investTop__video">
                    <a href="#" class="investTop__video__play">
                        <svg class="svg-icon play-icon">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#play-icon"></use>
                        </svg>
                    </a>
                    <a href="#" class="investTop__video__close"></a>
                    <div class="investTop__video__img ofit-block"><%= image_tag ("http://img.youtube.com/vi/#{@company.youtube_code}/0.jpg") %></div>
                    <div class="investTop__video__video">
                        <iframe src="javascript:void(0)"></iframe>
                    </div>
                </div>
              <% end %>

            </div>

            <div class="col-md-6 col-xs-12">
                <div class="investTop__title">
                  <h2><%= @company.name %></h2>
                </div>
                <div class="investTop__subtitle"><span> <%= @campaign.tagline %> </span></div>
                <!-- <div class="investTop__watchvideo visible-sm visible-xs">
                  <svg class="svg-icon play-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#play-icon"></use>
                  </svg>
                  <a href="#" >Watch video</a>
                </div> -->

                <div class="investTop__location">
                  <svg class="svg-icon location-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#location-icon"></use>
                  </svg><span><%= @campaign.place %></span>
                </div>
                <% if @company.status == 2 %>
                  <% @progress = ((@company.invested_amount.to_f / @company.goal_amount.to_f).to_f) *100 %>
                  <div class="investTop__progress">
                      <div class="investTop__progress__txt"><span><b><%= number_to_currency @company.invested_amount, precision: 0 %></b> Raised</span></div>
                      <div class="investTop__progress__line">
                          <div style="width: <%= @progress%>%;" class="investTop__progress__line__inn"></div>
                      </div>
                      <div class="investTop__progress__percent"><span><%= number_with_precision(@progress, precision: 0) %>% of <%= number_to_currency @company.goal_amount, precision: 0 %> Goal</span></div>
                  </div>
                <% end %>

                <% if user_signed_in? %>
                    <%if @company.accredited %>
                        <% if @company.status == 2 %>
                            <!-- <button type="button" data-fa-invest-now="<%#= @company.fund_america_code%>" class=" company-button profile-button mail-to-button" >
                                Invest in <%#= @company.name %>
                            </button> -->
                            <div class="investTop__btn">
                              <%= link_to "Invest in #{@company.name}", invest_path(@company.slug, :anchor => "pay-form"), :"data-no-turbolink" => true, class: 'btn btn-blue fw-btn' %>
                            </div>
                        <%else%>
                            <br><br><br><br>
                            <h2 class='waitlist_thankyou_text investTop__subtitle'></h2>
                            <%= form_tag("/waitlist/join_waitlist_send_email_with_invest/#{@company.slug}", remote: true, target: "_blank", class: "form-inline")  do %>
                              <div class="input-row row">
                                <div class="col-sm-6 col-xs-6">
                                  <div class="input-wrap">
                                    <%= text_field_tag "invest_amount", nil, placeholder: '$ 100', class: 'join-waitlist-new' %>
                                  </div>
                                </div>
                                <div class="col-sm-6 col-xs-6">
                                  <%= submit_tag "Join The Waitlist",  class: 'btn btn-blue fw-btn', target: "_blank"%>
                                </div>
                              </div>
                            <% end %>
                        <%end%>
                    <%else%>
                        <div class="investTop__btn">
                            <a class="btn btn-blue fw-btn" > Pending Approval </a>
                        </div>
                    <%end%>
                <% else %>
                    <div class="investTop__btn">
                        <% if @company.status == 2 %>
                            <%= link_to "Invest in #{@company.name}", invest_path(@company.slug, :anchor => "pay-form"), class: 'btn btn-blue fw-btn' %>
                        <% else %>
                            <%= link_to "Join The Waitlist", show_unathorized_path(@company.slug), class: 'btn btn-blue fw-btn' %>
                        <% end %>
                    </div>
                <% end %>

            </div>
        </div>
    </div>
</div>

<div class="project">
    <!-- A D M I N   E D I T I N G -->
    <div class='company-admin-editing hide-on-mobile hidden-xs'>
        <% if current_user != nil && current_user.authority == authority[:Admin] %>
            <%= link_to( {:controller => 'companies', :action => 'edit_profile', :id => @company.id }, class: 'edit-company-button' ) do %>
                <i class="fa fa-user-secret" aria-hidden="true"></i>
                <span class='edit-my-company-button'> Edit as Admin</span>
            <% end %>
        <% end %>
        <% if current_user != nil && current_user.authority >= authority[:Editor] %>
            <%= link_to( { :action => 'edit_campaign', :id => @company.campaign.id}, class: 'edit-company-button' )  do %>
                <i class="fa fa-cog" aria-hidden="true"></i>
                <span class='edit-my-company-button'>Edit My Company</span>
            <% end %>
        <%end%>
        <% if current_user %>
            <% if current_user.company == @company && current_user.role == 'founder' %>
                <%if @company.accredited %>
                    <%= link_to( { :action => 'edit_accredited_campaign', :id => @company.campaign.id}, class: 'edit-company-button' )  do %>
                        <i class="fa fa-cog" aria-hidden="true"></i>
                        <span class='edit-my-company-button'>Edit My Company</span>
                    <%end%>
                <% else %>
                    <%= link_to( { :action => 'edit_campaign', :id => @company.campaign.id}, class: 'edit-company-button' )  do %>
                        <i class="fa fa-cog" aria-hidden="true"></i>
                        <span class='edit-my-company-button'>Edit My Company</span>
                    <%end%>
                <% end%>
            <% end %>
        <% end %>
    </div>

    <div class="container">

        <div class="project__quote">
            <% if @quote %>

                    <div class="text-center ">
                        <p><%= @quote.description %></p>
                        <%= image_tag(@quote.photo.url, class: "second-quote-image") %>
                        <div class="quote-person-name"> <%= @quote.said_by %> </div>
                        <div class="said-by-title second-quote-title"><span><%= @quote.position %></span></div>
                    </div>

            <% end %>
        </div>

        <div class="project__block">
          <div class="project__block__title">
            <h2>Overview</h2>
          </div>
          <p> <%= @company.description.html_safe if @company.description %> </p>
        </div>

        <% if @company.id == 693 %>
            <%= render partial: "media" %>
        <% end %>

        <div class="project__quote">
            <% if @quote2 %>
                    <div class="text-center ">
                        <p><%= @quote2.description %></p>
                        <%= image_tag(@quote2.photo.url, class: "second-quote-image") %>
                        <div class="quote-person-name"> <%= @quote2.said_by %> </div>
                        <div class="said-by-title second-quote-title"><span><%= @quote2.position %></span></div>
                    </div>
            <% end %>
        </div>

        <!-- <div class="project__block">
          <div class="project__block__title">
            <h2>Join Our Mission</h2>
          </div>
          <p><%#= @campaign.elevator_pitch.html_safe  if @campaign.elevator_pitch %></p>
        </div> -->

        <div class="    ">
          <div class="project__block__title project__block">
            <h2>Team</h2>
          </div>
          <div class="project__team">
            <div class="row">
              <div class="project__team__slider">
                <% @members.each do |member| %>

                    <div class="col-md-4 col-sm-6 col-xs-6">
                      <div class="mentor"><a href="#" class="mentor__avatar ofit-block"><%= image_tag( member.image.url, :class => "company-members") %></a>
                        <div class="mentor__cnt">
                          <div class="mentor__cnt__inn">
                            <div class="mentor__name"><span><%= member.name%></span></div>
                            <div class="mentor__pos"><span><%= member.title%></span></div>
                            <div class="mentor__desc">
                              <p><%= simple_format(member.content) %></p>
                            </div>
                          </div>
                          <a href="#" class='right small' data-toggle="modal" data-target="#<%= member.id %>">Show More</a>
                        </div>
                      </div>
                    </div>
                    <!-- Team Modal Start -->
                    <div id="<%= member.id%>" class="modal fade" role="dialog">
                      <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title mentor__name"><%= member.name%></h4>
                            <h4 class="modal-title mentor__pos"><%= member.title%></h4>
                          </div>
                          <div class="modal-body">
                            <p><%= simple_format member.content %></p>
                          </div>

                        </div>

                      </div>
                    </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>

        <div class="project__quote">
            <% if @quote3 %>
                    <div class="text-center ">
                        <p><%= @quote3.description %></p>
                        <%= image_tag(@quote3.photo.url, class: "second-quote-image") %>
                        <div class="quote-person-name"> <%= @quote3.said_by %> </div>
                        <div class="said-by-title second-quote-title"><span><%= @quote3.position %></span></div>
                    </div>
            <% end %>
        </div>

        <% if @company.id == 693 %>
            <section  class='company-section text-center'>
                <h1 class="animated-numbers-titles centered">DreamFunded  Community</h1>
                <h1 class='centered animated-number'><span id="animate-numer">160,050</span>+</h1>
                <h1 class="animated-numbers-titles centered">Members</h1>
            </section>
        <% end %>

        <% if @timeline_items.size > 0 %>
            <%= render partial: "timeline",  timeline_items: @timeline_items %>
        <% end %>

        <div class="project__block">
          <div class="project__block__title">
            <h2>Join Our Mission</h2>
          </div>
          <p><%= @campaign.about_campaign.html_safe if @campaign.about_campaign %></p>
        </div>

        <div class="project__block">
          <div class="project__block__title">
            <h2>Terms</h2>
          </div>
          <p><%= @financial_details.offering_terms.html_safe if @financial_details.offering_terms %></p>
        </div>

        <div class="project__block">
          <div class="project__block__title">
            <h2>Financial Risks</h2>
          </div>
          <p><%= @financial_details.fin_risks.html_safe if @financial_details.fin_risks %></p>
        </div>

        <div class="project__block">
          <div class="project__block__title">
            <h2>Documents</h2>
          </div>

          <% @company.documents.each do |doc| %>
              <p class= "fifteen "><%= doc.name %></p>
              <p class= "no-margin doc_name_overflow">
                  <%= image_tag "static/pdf_icon.png" %>
                  <%= link_to doc.file_file_name, doc.file.url, target: "_blank", class: 'document-url' %>
              </p>
          <% end %>
        </div>

        <!-- <div class="project__tags">
          <div class="compthumb__tag __blue"><span>Professional Services</span></div>
          <div class="compthumb__tag __yellow"><span>Transportation</span></div>
          <div class="compthumb__tag __pink"><span>Automotive</span></div>
          <div class="compthumb__tag __purple"><span>Technology</span></div>
          <div class="compthumb__tag __indigo"><span>Software & services</span></div>
          <div class="compthumb__tag __red"><span>engineering</span></div>
        </div> -->

        <%= render partial: 'questions', questions: @questions %>


        <section id='comments-section' class='company-section' >
            <div class='section-container'>
                <h1 class='section-title'>Ask a Question</h1>
                <div class='section-content'>
                    <div class="comments">
                        <%= nested_messages(@comments.arrange(:order => :created_at))%>
                    </div>
                        <% if current_user %>
                            <div class="comment">
                              <div class="headline">
                                <span class="name">
                                  <span class='comment_as'>New comment as</span>
                                  <a><%= current_user.comments_name%></a>
                                </span>
                              </div>
                              <div class="comment_content">
                                    <%= form_for Comment.new, remote: true  do |f|%>
                                         <%= f.hidden_field "user_id", value: current_user.id %>
                                         <%= f.hidden_field "company_id", value: @company.id %>
                                         <%= f.hidden_field :parent_id %>
                                        <div>
                                            <%= f.text_area :content, rows: 8, class: 'comment_extarea' %>
                                        </div>
                                        <%= f.submit "Post Comment", class: 'comment_submit_button' %>
                                    <% end %>
                            </div>
                        <%else%>
                              <p>First <%= link_to "sign in", "/users/sign_in" %> to post a comment.</p>
                        <%end%>
                    </div>
                </div>
            </div>
        </section>

    </div>
</div>



<script>
    $(document).ready(function() {
        document.addEventListener('fa.investnow.success', function(e){
          var InvestorInvestmentID = e.investment_id;
          console.log(e);
           $.ajax({
                type: 'POST',
                url: "/investment_made/"+InvestorInvestmentID,
                data: { company_id: <%= @company.id %>  },
                dataType: "json",
                success: function(resultData) { alert("Save Complete") }
          });
        });
    });

    var animate_number = true;
    $(document).on('scroll', function() {
        var anmate_number_elem = document.getElementById("animate-numer");
        if( document.contains( anmate_number_elem  ) ) {

          if($(this).scrollTop()>=$('#animate-numer').position().top){

              if(animate_number){

                  function commaSeparateNumber(val){
                      while (/(\d+)(\d{3})/.test(val.toString())){
                        val = val.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");
                      }
                      return val;
                  }

                  $({someValue: 160050}).animate({someValue: 160102}, {
                    duration: 2500,
                    easing:'swing', // can be anything
                    step: function() { // called on every step
                        // Update the element's text with rounded-up value:
                        $('#animate-numer').text(commaSeparateNumber(Math.round(this.someValue)));
                    },
                    complete: function(){
                      animate_number = false;
                    }
                  });

              }
          }
        }
    })

    $(".questions-header").click(function () {

        $header = $(this);
        //getting the next element
        $content = $header.next();
        //open up the content needed - toggle the slide- if visible, slide up, if not slidedown.
        $content.slideToggle(500, function () {

            if($content.is(":visible")){
                $header.find('.angle-up').show();
                $header.find('.angle-down').hide();
            }else{
                $header.find('.angle-up').hide();
                $header.find('.angle-down').show();
            }
        });
    });


    $(".comments .reply_comment_button").click(function(e){
        e.preventDefault()
        $(this).parent().parent().parent().next().show();
    })


    // Twitter small windows open when clicked
    $('#twitter').click(function(event) {
      var width  = 575,
          height = 400,
          left   = ($(window).width()  - width)  / 2,
          top    = ($(window).height() - height) / 2,
          url    = this.href,
          opts   = 'status=1' +
                   ',width='  + width  +
                   ',height=' + height +
                   ',top='    + top    +
                   ',left='   + left;

      window.open(url, 'twitter', opts);

      return false;
    });
</script>

<script type="text/javascript">
  $('#facebook').click(function(){
    FB.ui({
      method: 'share',
      href: "https://dreamfunded.com/companies/<%= @company.slug %>",
      redirect_uri: "https://dreamfunded.com/companies/<%= @company.slug %>",
      // quote: "Invest in <%= @company.name %> on DreamFunded",
      title: "<%= @company.name %>",
      description: "<%= @campaign.tagline %>"
    }, function(response){});
  })
</script>

<script type="text/javascript">
  // video
  $('.investTop__video__play').on('click', function(e) {
      var th = $(this),
          par = th.closest('.investTop__video'),
          video = par.attr('data-video'),
          framepar = par.find('.investTop__video__video');
      par.addClass('active');
      framepar.html('<iframe src="' + video + '?autoplay=1&showinfo=0&modestbranding=1"></iframe>');
      e.preventDefault();
  });

  $('.investTop__video__close').on('click', function(e) {
      var th = $(this),
          par = th.closest('.investTop__video'),
          framepar = par.find('.investTop__video__video');
      par.removeClass('active');
      framepar.empty();
      e.preventDefault();
  });
</script>

<!-- <script src="https://sandbox.fundamerica.com/cors/js/invest_now.min.js" id="fa-invest-now-launcher"></script> -->
<script src="https://apps.fundamerica.com/cors/js/invest_now.min.js" id="fa-invest-now-launcher"></script>
