<% title "DreamFunded | Invest" %>

<div class="stepTop about">
  <div class="container">
    <div class="stepTop__title">
      <h2>Campaign Basics</h2>
    </div>
    <div class="stepTop__steps">
      <div class="stepTop__steps__inn clearfix">
        <div class="stepTop__steps__it active">
          <div class="stepTop__steps__it__txt"><span>Step 1</span></div>
        </div>
        <div class="stepTop__steps__it ">
          <div class="stepTop__steps__it__txt"><span>Step 2</span></div>
        </div>
        <div class="stepTop__steps__it">
          <div class="stepTop__steps__it__txt"><span>Step 3</span></div>
        </div>
        <div class="stepTop__steps__it">
          <div class="stepTop__steps__it__txt"><span>Step 4</span></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="step">
  <div class="container">
    <div class="step__inn">
      <!-- <div class="step__title">
        <h3>Basic Company Information</h3>
      </div> -->
      <div class="step2">
        <div class = "notice centered">
          <% if @company.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>
              <ul>
                <% @company.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
        </div>
        <%= form_for @company, :url => {:action => "basics_submit"},method: "post", html: { multipart: true } do |f| %>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <%= f.hidden_field :goal_amount, value: 1000000 %>
          <!-- <div class="step2__top">
            <div class="step1__list">
              <ul class="reset-list">
                <li>ALL information in this step will be made publicly available</li>
                <li>Use your campaign page to show investors what makes your company unique. Remember to be factual and balanced. Claims cannot be exaggerated or false. Your company must be a US company in order to raise capital under Title III - Regulation Crowdfunding. You may not be a fund.</li>
              </ul>
            </div>
          </div> -->
          <div class="step2__blocks">
            <div class="step2__block">
              <div class="step2__block__title"><span>Company Name</span></div>
              <div class="input-wrap">
                <%= f.text_field :name, placeholder: 'Company Name' %>
              </div>
              <div class="input-wrap">
                <%= text_field_tag :tagline, nil ,placeholder: 'Describe your company in one sentence' %>
              </div>
            </div>
            <div class="step2__block">
              <div class="step2__block__title"><span>Category</span></div>
              <div class="input-wrap">
                <%= f.select(:categories, options_for_select(company_categories), {:include_blank => true}, {class: "selectpicker", :multiple => true} ) %>
              </div>
            </div>
            <div class="step2__block">
              <div class="step2__block__title"><span>Contact Information</span></div>
              <div class="input-row row">
                <div class="col-xs-6">
                  <div class="input-wrap">
                    <%= text_field_tag :phone, current_user.phone, placeholder: 'Phone Number' %>
                  </div>
                </div>
                <div class="col-xs-6">
                  <div class="input-wrap">
                    <%= f.text_field :website_link, placeholder: 'Website' %>
                  </div>
                </div>
              </div>
            </div>
            <div class="step2__block">
              <div class="step2__block__title"><span>Short Description about your company</span></div>
              <div class="input-wrap">
                <%= f.text_area :description %>
              </div>
            </div>
            <div class="step2__block">
              <div class="step2__block__title"><span>Images</span></div>
              <div class="step2__image clearfix">
                <div class="step2__image__left"><span>Company Logo</span></div>
                <div class="step2__image__right">
                  <div class="input-wrap">
                    <div data-title="Choose" class="file-input __simple">
                      <label>
                        <%= f.file_field :image, class: 'hidden-input' %>
                        <span class="file-input__txt">Choose</span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="step2__image clearfix">
                <div class="step2__image__left"><span>Cover Photo (Recommended)</span></div>
                <div class="step2__image__right">
                  <div class="input-wrap">
                    <div data-title="Choose" class="file-input __simple">
                      <label>
                        <%= f.file_field :cover, class: 'hidden-input' %><span class="file-input__txt">Choose</span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="step2__image clearfix">
                <div class="step2__image__left"><span>Pitch Deck (Recommended)</span></div>
                <div class="step2__image__right">
                  <div class="input-wrap">
                    <div data-title="Choose" class="file-input __simple">
                      <label>
                        <%= f.fields_for :documents, Document.new do |doc| %>
                          <%= doc.file_field :file, class: 'hidden-input' %>
                          <span class="file-input__txt">Choose</span>
                        <% end %>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="step2__block __members">
              <div class="step2__block__title"><span>Management Team</span></div>
              <div class="step2__member">
                <svg class="svg-icon userplus-icon">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#userplus-icon"></use>
                </svg>

                <%= f.fields_for :founders, @founders do |founder| %>
                  <%= render 'founder_fields', f: founder %>
                <% end %>

                  <%= link_to_add_association( f, :founders) do %>

                    <span class='edit-my-company-button'>Add Team Member</span>
                  <% end %>

              </div>
            </div>
            <div class="step__btn">
              <div class="step__btn__inn">
                <button type="submit" class="btn btn-blue">Continue</button>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('select.selectpicker').selectpicker();
  document.querySelector('.bootstrap-select .caret').classList.add('bs-caret');
  document.querySelector('.bootstrap-select .caret').classList.remove('caret');

  // file input
$('.file-input input[type="file"]').on('change', function () {
  var th = $(this),
    par = th.closest('.file-input'),
    txt = par.find('.file-input__txt'),
    title = par.attr('data-title'),
    file =th.val().replace("C:\\fakepath\\", "");
  if (file.length > 0) {
    txt.text(file);
  } else {
    txt.text(title);
  }
})
</script>

<script type="text/javascript">
    $('header').addClass('__white');
</script>
