
<header class="header ">
  <div class="container clearfix">
    <div class="header__logo"><a href="/"><%= image_tag("template/header-logo.png") %></a></div>
    <div class="header__left clearfix"><a href="#" class="header__mob-close visible-xs"></a>
      <div class="header__nav">
        <ul class="reset-list clearfix">
          <li><%= link_to "Companies", companies_path %></li>
          <li><%= link_to "How It Works", '/how_it_works' %></li>
          <% if current_user %>
            <% if current_user.company %>
              <li><a onclick= "campaign()">My Company</a></li>
            <%else%>
              <li><a onclick= "get_funded()">Get Funded</a></li>
             <% end %>
          <% else %>
            <li><a onclick= "get_funded()">Get Funded</a></li>
          <% end %>
          <li><%= link_to "Private Offerings", 'http://www.dreamfundedfund.com/', target: '_blank', class: 'privae-offerings' %></li>
        </ul>
      </div>
      <% if !current_user %>
        <div class="header__auth clearfix">
          <%= link_to "Login", new_user_session_path %>
          <%= link_to "Sign Up", new_user_registration_path %>
        </div>
      <% else %>
        <div class="header__user"><span class="hidden-xs hidden-sm">Welcome</span><a href="#" class="hidden-xs"><span><%= current_user.first_name.capitalize%></span></a>
          <div class="header__user__drop">
            <ul class="reset-list">
              <li><%= link_to "My Investments", portfolio_path %></li>
              <li><%= link_to "My Profile", profile_path %></li>
              <li><a href="#" onclick= "campaign()"><%= current_user.my_campaign %></a> </li>

              <% if current_user.belongs_to_a_group? %>
                  <li><a onclick= "group()">My Group</a></li>
              <% end %>


              <% if current_user.authority == authority[:Admin] %>
                <li><a onclick= "invite()">Invite</a></li>
                <li><a onclick="location.href='/admin/users';" >New Admin Panel</a></li>
              <% else %>
                <% if current_user.startup? %>
                  <li><a onclick= "invite()">Invite</a></li>
                <% end %>

                <% if current_user.authority == authority[:Editor] %>
                  <li><a onclick="location.href='/admin/companies';" >Admin Panel</a></li>
                <% end %>
              <% end %>

              <% if current_user.role == "government"%>
                <li><a onclick= "government_admin()">Admin Panel</a></li>
              <% end %>
            </ul>
            <div class="header__user__exit"><a href="#" onclick="signOut()">
                <svg class="svg-icon logout-icon">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logout-icon"></use>
                </svg><span>Logout</span></a></div>
          </div>
        </div>
      <% end %>
    </div><a href="#" class="header__mob-trig visible-xs"><span></span><span></span></a>
  </div>
</header>


<script type="text/javascript">
  // header user drop
  $('.header__user > a').on('click', function(e) {
    $(this).closest('.header__user').toggleClass('active');
    e.preventDefault();
  });
  $(document).click(function(event) {
    if ($(event.target).closest(".header__user").length) return;
    $('.header__user').removeClass('active');
  });


  $('.header__mob-trig').on('click', function(e) {
    $('body').addClass('mob-menu-open');
    e.preventDefault();
  });
  //// mob menu close
  $('.header__mob-close').on('click', function(e) {
    $('body').removeClass('mob-menu-open');
    e.preventDefault();
  });

  //profile mob menu
  $('.profile__sidebar__mob').on('click', function(e) {
    $('.profile__sidebar').toggleClass('active');
    e.preventDefault();
  });
  $(document).click(function(event) {
    if ($(event.target).closest(".profile__sidebar").length) return;
    $('.profile__sidebar').removeClass('active');
  });
</script>
